mixin news-page
    +breadcrumbs
    section.standard
        .container
            h2.main-title Обьявления
            .flex-box-container
                +article({img: 'n-1'})
                +article({img: 'n-2'})
                +article({img: 'n-3'})
                +article({img: 'n-4'})
                +article({img: 'n-3'})
                +article({img: 'n-4'})
                +article({img: 'n-1'})
                +article({img: 'n-2'})

