.rating-wrap {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-left: 40px;
    span {
        margin-right: 7px;
    }
}
.review-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    &__label {
        display: inline-block!important;
        font-family: inherit;
        cursor: pointer;
        margin-bottom: 0!important;
    }
    &__input {
        display: none;
    }
    &__icon {
        display: inline-block;
        position: relative;
    }
    &__icon:before {
        font-size: 18px;
        line-height: 24px;
        color: $accent-color;
    }

}


.review-rating__label:hover .review-rating__icon:before {
    content: '\f005';
}
.review-rating__label:hover ~ .review-rating__label .review-rating__icon:before {
    content: '\f005';
}
