mixin rating
    .rating-wrap
        span Оцените товар:
        .review-rating
            label.review-rating__label
                input.review-rating__input(type="radio" name="rating" value="5")
                i.review-rating__icon(class="fa fa-star-o fa-stack-1x" data-value='5')
            label.review-rating__label
                input.review-rating__input(type="radio" name="rating" value="4")
                i.review-rating__icon(class="fa fa-star-o fa-stack-1x" data-value='4')
            label.review-rating__label
                input.review-rating__input(type="radio" name="rating" value="3")
                i.review-rating__icon(class="fa fa-star-o fa-stack-1x" data-value='3')
            label.review-rating__label
                input.review-rating__input(type="radio" name="rating" value="2")
                i.review-rating__icon(class="fa fa-star-o fa-stack-1x" data-value='2')
            label.review-rating__label
                input.review-rating__input(type="radio" name="rating" value="1")
                i.review-rating__icon(class="fa fa-star-o fa-stack-1x" data-value='1')
