doctype html
html(class="no-js", lang="ru")

    //- include head
    include ../components/head/head

    //- include _global-modules
    include ../components/_modules/_global/navigation/navigation
    include ../components/_modules/_global/header/header
    include ../components/_modules/_global/footer/footer
    include ../components/_modules/_global/login-popup/login-popup
    include ../components/_modules/_global/popup-cart/popup-cart

    //- include _situations-modules
    include ../components/_modules/_situations/product/mixin-product
    include ../components/_modules/_situations/slider-product/slider-product

    //- include _situations-modules
    include ../components/_modules/_other-parts/count/count

    //- include page-template
    include ../components/_pages/main-page/main-page

    head
        +head(head.defaults)

    body.page.common-home
        |%=symbols=%

        //login-popup
        +login-popup
        //navigation
        +navigation
        //header
        +header

        //page
        section.page__wrapper

            +main-page

        //footer
        +footer

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')

        //- other scripts

        //- common (always last)
        script(src='%=static=%js/separate-js/common.js')
