.popup {
    width: 420px;
    box-shadow: 0 6px 13px rgba(0, 0, 0, 0.32);
    background-color: #f5f5f5;
    padding: 40px 30px;
    position: fixed;
    display: none;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10001;
    &__close {
        position: absolute;
        top: 0;
        right: 0;
        width: 44px;
        height: 44px;
        padding: 0;
        margin: 0;
        border: 0;
        border-radius: 0;
        outline: none;
        background: transparent;
        z-index: 10;
        cursor: pointer;
        &:after {
            content: "×";
            position: absolute;
            top: 5px;
            right: 5px;
            width: 30px;
            height: 30px;
            font: 20px/30px Arial,Helvetica Neue,Helvetica,sans-serif;
            color: #888;
            font-weight: 300;
            text-align: center;
            border-radius: 50%;
            border-width: 0;
            background-color: transparent;
            -webkit-transition: background .25s;
            transition: background .25s;
            box-sizing: border-box;
            z-index: 2;
        }
    }
    &__title {
        font-weight: 500;
        line-height: 24px;
        text-transform: uppercase;
        color: #444;
        font-size: 24px;
        margin: 0 0 20px 0;
        text-align: center;
    }
    &__label {
        font-size: 18px;
        line-height: 24px;
        text-align: left;
        display: block;
        color: #444;
        font-weight: 400;
        margin-left: 20px;
    }
    &__form {
        text-align: center;
        width: 100%;
        input:not([type=submit]) {
            height: 40px!important;
            border: 1px solid #444;
            background-color: #ffffff;
            padding: 0 15px;
            font-size: 18px;
            font-weight: 400;
            color: #444;
            line-height: 38px;
            width: 100%;
            @include placeholder {
                color: #808080;
                transition: color 220ms;
            }
            @include placeholder-focus {
                color: transparent;
            }
        }
        input[type=submit] {
            width: 165px;
            height: 40px;
            display: block;
            color: #fff;
            border: none;
            font-size: 16px;
            line-height: 38px;
            background-color: $accent-color;
            transition: background-color 220ms;
            outline: none;
            padding: 0;
            &:hover, &:focus {
                background-color: $main-color;
                color: #fff;
            }
        }
        label.error {
            font-size: 12px;
            margin: 0;
            color: #ff181f;
            font-weight: 700;
            display: block;
            text-align: left;
        }
        input.error {
            border-color: #ff181f;
        }
    }
    &__field {
        margin-bottom: 15px;
        position: relative;
    }
    &__reg {
        margin: 0 0 25px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-link {
            font-size: 16px;
            display: block;
            font-weight: 400;
            line-height: 24px;
            color: $accent-color;
            text-decoration: underline;
            &:hover, &:focus {
                text-decoration: none;
                color: $accent-color;
            }
        }
        input[type=checkbox] {
            display: none;
        }
        &-check {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            color: $accent-color;
            text-decoration: underline;
            cursor: pointer;
            margin-bottom: 0;
            &:hover {
                text-decoration: none;
                color: $accent-color;
            }
        }
        input[type=checkbox]:checked + .popup__reg-input:after {
            content: '';
            display: block;
            @include center;
            @include bg($check);
        }
        &-input {
            display: block;
            width: 18px;
            height: 18px;
            margin-right: 10px;
            position: relative;
            border: 1px solid $border-color;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__btn-cancel {
        font-size: 18px;
        width: 135px;
        height: 40px;
        color: #444;
        display: block;
        font-weight: 700;
        line-height: 38px;
        background-color: transparent;
        border: none;
        outline: none;
        transition: color 220ms;
        &:hover, &:focus {
            color: $accent-color;
        }
    }
}

.darkness {
    background-color: rgba(0,0,0,.8);
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10000;
}
.fancybox-close-small {
    outline: none;
}
.fancybox-close-small:after {
    color: $accent-color;
    background-color: #f5f5f5;
}
.fancybox-close-small:hover:after {
    color: #444;
    background-color: #f5f5f5;
}
