mixin login-popup
    .popup#login
        .popup__close
        h3.popup__title Вход в личный кабинет
        form.popup__form
            .popup__field
                label.popup__label Электронная почта
                input(type='text' placeholder='E-mail' name='email')
            .popup__field
                label.popup__label Пароль
                input(type='password' placeholder='Введите пароль' name='password')
            .popup__reg
                .popup__reg-line
                    label.popup__reg-check
                        input(type='checkbox')
                        span.popup__reg-input
                        |Запомнить меня
                a.popup__reg-link(href='#') Напомнить пароль
            .popup__reg
                input.popup__btn-submit(type='submit' value='Войти')
                a.popup__btn-cancel(href='#') Отмена
