// footer
// ==================================================

.footer {
    background-color: #fff;
    width: 100%;
    &__wrap {
        border-top: 5px solid #0097fc;
        padding: 30px 0 0;
    }
    &__inner {
        display: flex;
        width: 100%;
    }
    &__column {
        margin-right: 40px;
        max-width: 235px;
        &:last-child {
            margin-right: 0;
        }
        &-title {
            font-size: 18px;
            line-height: 24px;
            color: #0097fc;
            font-weight: 700;
            margin: 0 0 30px 0;
        }
    }
    &__list {
        &-link,&-item {
            font-size: 18px;
            line-height: 24px;
            color: #444;
            font-weight: 400;
        }
        &-link {
            text-decoration: underline;
            transition: color 220ms;
            &:hover,&:focus {
                color: $accent-color;
                text-decoration: underline;
            }
        }
    }
    &__bottom {
        padding: 50px 0 20px;
        &-inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }
        &-text {
            flex: 1 1 auto;
            span {
                color: #808080;
                font-size: 18px;
                font-weight: 700;
                line-height: 24px;
                display: block;
                a {
                    color: #808080;
                    transition: color 220ms;
                    &:hover,&:focus {
                        color: $accent-color;
                    }
                }
            }
        }
        &-copyright {
            text-align: left;
        }
        &-auth {
            text-align: right;
        }
    }
}
