mixin footer
    footer.footer
        .footer__wrap
            .container
                .footer__inner
                    .footer__column
                        h4.footer__column-title  Контакты
                        ul.footer__list
                            li.footer__list-item  г. Запорожье
                            li.footer__list-item  ул. Хортицкое шоссе, 1
                            li.footer__list-item Тел.: (067) 614 12 00
                            li.footer__list-item E-mail: test@gmail.com
                    .footer__column
                        h4.footer__column-title  Компания
                        ul.footer__list
                            li.footer__list-item: a.footer__list-link(href='#') О нас
                            li.footer__list-item: a.footer__list-link(href='#') Контакты
                            li.footer__list-item: a.footer__list-link(href='#') Работа
                            li.footer__list-item: a.footer__list-link(href='#') Объявления
                    .footer__column
                        h4.footer__column-title  Интерент-магазин
                        ul.footer__list
                            li.footer__list-item: a.footer__list-link(href='#') Как купить
                            li.footer__list-item: a.footer__list-link(href='#') Оплата
                            li.footer__list-item: a.footer__list-link(href='#') Программа лояльности
                            li.footer__list-item: a.footer__list-link(href='#') Безопасность
                    .footer__column
                        h4.footer__column-title  Сотрудничество
                        ul.footer__list
                            li.footer__list-item: a.footer__list-link(href='#') Поставщикам
                            li.footer__list-item: a.footer__list-link(href='#') Реклама на сайте
                            li.footer__list-item: a.footer__list-link(href='#') Отзывы
                    .footer__column
                        h4.footer__column-title  Юридическая информация
                        ul.footer__list
                            li.footer__list-item: a.footer__list-link(href='#') Публичная оферта
                            li.footer__list-item: a.footer__list-link(href='#') Политика конфиденциальности
                            li.footer__list-item: a.footer__list-link(href='#') Сертификаты
                .footer__bottom
                    .footer__bottom-inner
                        .footer__bottom-text.footer__bottom-copyright
                            span &copy; Мастер-класс 2017 г. Все права защищены.
                        .footer__bottom-text.footer__bottom-auth
                            span Сайт разработан веб-студией
                                a(href='#')  «Штурман»





