.standard__float {
    background-color: #fff;
    padding: 30px;
    img {
        float: left;
        margin: 0 20px 10px 0;
    }
    p {
        color: #444;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        margin-bottom: 25px;
    }
    h1 {
        color: #444;
        font-size: 36px;
        font-weight: 500;
        margin: 0 0 15px 0;
    }
}
