.page {
    font-size: $default-size;
    font-family: $default-font;
    font-weight: 300;
    color: $main-color;
    line-height: 1.4;
    min-width: 320px;
    position: relative;
    overflow-x: hidden;
    background-color: #f0f0f0;
}

.footer {
    margin: 0;
    padding: 0;
    border: none;
}

section {
    position: relative;
}

input, button, select {
    outline: none;
}

textarea {
    resize: none;
}

.responsive-wrap {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

a {
    text-decoration: none;
    color: $main-color;
    &:hover, &:focus, &:active {
        outline: none;
        color: $main-color;
        text-decoration: none;
    }
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

*::-webkit-input-placeholder {
    color: #666;
    opacity: 1;
}

*:-moz-placeholder {
    color: #666;
    opacity: 1;
}

*::-moz-placeholder {
    color: #666;
    opacity: 1;
}

*:-ms-input-placeholder {
    color: #666;
    opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
    color: #666;
}

body input:required:valid,
body textarea:required:valid {
    color: #666;
}

select::-ms-expand {
    display: none;
}
