// GUI stylies of the project

.standard {
    padding: 0 0 70px 0;
}

.standard-button {
    width: 195px;
    height: 47px;
    background-color: $accent-color;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 46px;
    padding: 0;
    transition: background-color 220ms;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    &:hover, &:focus {
        color: #fff;
        background-color: $main-color;
    }
}

input:not([type=submit]):not([type=radio]):not([type=checkbox]), textarea {
    width: 100%;
    background-color: #fff;
    color: $main-color;
    padding-top: 0;
    padding-bottom: 0;
    @include placeholder {
        color: $placeholder-color;
        transition: color 220ms;
    }
    @include placeholder-focus {
        color: transparent;
    }
}



textarea {
    height: 110px;
}


.g-overlay {
    background-color: rgba(3,2,1,.7);
    width: calc(100% - 280px);
    position: fixed;
    top: 0;
    right: 0;
    z-index: -999999;
    -webkit-transition: opacity 300ms 150ms;
    transition: opacity 300ms 150ms;
    opacity: 0;
    height: 0;
    &.is-active {
        height: 100%;
        opacity: 1;
        z-index: 999999;
    }
}

.main-title {
    color: #444;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin: 0 0 35px 0;
    text-transform: uppercase;
}


