// Button-toggle
// ==================================================
$hamburger-padding-x                            : 0 !default;
$hamburger-padding-y                            : 0 !default;
$hamburger-layer-width                          : 40px !default;
$hamburger-layer-height                         : 4px !default;
$hamburger-layer-spacing                        : 6px !default;
$hamburger-layer-color                          : #fff !default;
$hamburger-layer-border-radius                  : 0 !default;
$hamburger-hover-opacity                        : 0.7 !default;
$hamburger-hover-transition-duration            : 0.15s !default;
$hamburger-hover-transition-timing-function     : linear !default;
$hamburger-hover-use-filter                     : false !default;
$hamburger-hover-filter                         : opacity(50%) !default;
$hamburger-types                                : emphatic !default;

$default-size: 15px;

// Fonts
// ==================================================

$default-font: 'Roboto', sans-serif;

// Colors
// ==================================================

$main-color: #444;
$accent-color: #fa9232;
$border-color: #cfd8db;
$placeholder-color: #d8d9d4;





