mixin product(data)
    .product(class=data.cls)
        if(data.cls === 'product--catalog')
            .product__layout
                .product__banner(class=data.bannerCls)
                    span.product__banner-text= data.banner
                a(href='#').product__img
                    img(src='static/img/content/pr-' + data.src + '.png')
                .product__content
                    .product__left
                        a(href='#').product__caption Эмаль Delfi, алкидная ПФ-266 для пола и название товара в две строки
                        p.product__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        .product__options
                            .product__option
                                span.product__option-title Обьем:
                                span.product__option-text 2 литра
                            .product__option
                                span.product__option-title Цвет:
                                span.product__option-text темно-зеленый
                    .product__right
                        .product__cost
                            .product__cost-inner
                                .product__cost-temp
                                    span.product__cost-title Розница:
                                    span.product__cost-price.product__cost-price--retail= data.newcost
                                .product__cost-temp
                                    span.product__cost-title Ваша цена:
                                    span.product__cost-price= data.oldcost
                            .product__cost-select
                                .product__select.product__select--wholesale
                                    span.product__select-text от 150 шт. - 200 грн
                                    span.product__select-arrow
                                    .product__select-option
                                        .product__select-option-item от 250 шт. - 500 грн
                                        .product__select-option-item от 350 шт. - 700 грн
                                        .product__select-option-item от 500 шт. - 900 грн
                                .product__count
                                    +count
                                .product-content__line
                                    span.product-content__total Итого:
                                    span.product-content__total-cost 1000 грн
                            button.product__buy Купить
        else
            a(href='#').product__layout
                .product__banner(class=data.bannerCls)
                    span.product__banner-text= data.banner
                .product__img
                    img(src='static/img/content/pr-' + data.src + '.png')
                .product__content
                    h3.product__caption Эмаль Delfi, алкидная ПФ-266 для пола и название товара в две строки
                    .product__cost
                        if (data.oldcost && data.newcost)
                            strike.product__cost-price.product__cost-price--old= data.oldcost
                            span.product__cost-price.product__cost-price--new= data.newcost
                        else
                            span.product__cost-price.product__cost-price--current 2000 грн.
