.product {
    position: relative;
    margin: 0 auto;
    width: 265px;
    &--catalog {
        width: 100%;
        margin-bottom: 30px;
        .product__layout {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
        .product__img {
            width: 230px;
            height: 230px;
            margin: 0;
            flex: 0 0 auto;
        }
        .product__content {
            flex: 1 1 auto;
            width: 100%;
            display: flex;
            align-items: center;
            padding: 15px 15px 20px 15px;
            justify-content: space-between;
        }
        .product__cost-title {
            color: #444;
            font-size: 18px;
            font-weight: 400;
            margin: 0 0 5px 0;
        }
        .product__cost-price--old {
            color: #808080;
            font-size: 16px;
            margin-right: 5px;
            font-weight: 500;
        }
        .product__cost-price--new {
            color: #444;
            font-size: 18px;
            font-weight: 700;
        }
        .product__left {
            width: 400px;
            padding-right: 30px;
            flex: 0 0 auto;
        }
        .product__caption {
            text-align: left;
        }
        .product__right {
            flex: 1 1 auto;
            width: 180px;
        }
        .product__option {
            display: flex;
            align-items: center;
            &__desc {
                color: #444;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
            }
            &-title {
                display: block;
                color: #444;
                font-size: 18px;
                font-weight: 700;
                line-height: 27px;
                margin-right: 5px;
            }
            &-text {
                display: block;
                color: #444;
                font-size: 18px;
                line-height: 27px;
                font-weight: 400;
            }
        }
        .product__buy {
            margin-top: 20px;
            @extend .standard-button;
            width: 180px;
            height: 40px;
            line-height: 40px;
            background-color: transparent;
            color: $accent-color;
            border: 1px solid $accent-color;
            &:hover {
                color: #fff;
                background-color: $accent-color;
            }
        }
        .product__cost-flex {
            margin-bottom: 20px;
        }
        .product__cost-select {
            .select2-container {
                width: 180px!important;
                height: 30px;
            }
            .select2-container .select2-selection--single {
                width: 180px;
                border-radius: 0;
                height: 30px;
            }
            .select2-selection__arrow {
                width: 30px;
                height: 30px;
                top: 0;
                right: 0;
                background-color: #444;
                b {
                    border-color: #fff transparent transparent transparent;
                    border-style: solid;
                    border-width: 8px 6px 0 6px;
                    @include center;
                    margin: 0;
                }
            }
            .select2-container--open .select2-selection__arrow b {
                border-color: transparent transparent #fff transparent;
                border-style: solid;
                border-width: 0 6px 8px 6px;
                @include center;
                margin: 0;
            }
        }
        .product__cost {
            display: block;
            &-temp {
                width: 100%;
            }
            &-inner {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 10px;
            }
            &-title {
                line-height: 24px;
                color: #444;
                text-align: center;
                font-size: 16px;
                font-weight: 400;
                display: block;
                margin: 0;
            }
            &-price {
                color: #444;
                text-align: center;
                font-size: 18px;
                font-weight: 700;
                line-height: 24px;
                display: block;
                &--retail {
                    font-size: 16px;
                }
            }
        }
        .product__count {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 20px 0;
            .count {
                margin: 0 auto;
            }
        }
        .product-content__line {
            justify-content: center;
        }
        .product-content__total {
            font-size: 20px;
            &-cost {
                font-size: 20px;
            }
        }
    }
    &__layout {
        background-color: #fff;
        border: 2px solid #bfbfbf;
        display: block;
        position: relative;
        transition: border-color 220ms;
        &:hover {
            border: 2px solid #0084ff;
        }
    }
    &__banner {
        position: absolute;
        left: -7px;
        top: 20px;
        height: 26px;
        background-color: #0084ff;
        padding: 0 20px;
        &:after {
            content: '';
            display: block;
            width: 0;
            height: 0;
            border-left: 7px solid transparent;
            border-top: 7px solid #0063bf;
            bottom: -7px;
            left: 0;
            position: absolute;
        }
        &-text {
            color: #fff;
            font-size: 18px;
            font-weight: 700;
            line-height: 24px;
            display: block;
        }
    }
    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 261px;
        height: 261px;
        margin: 0 auto;
        overflow: hidden;
    }
    &__content {
        padding: 18px 15px;
    }
    &__caption {
        padding: 0;
        margin: 0 0 10px 0;
        color: #444;
        font-size: 18px;
        font-weight: 700;
        line-height: 27px;
        display: block;
        text-align: center;
    }
    &__cost {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: baseline;
        &-inner {
            width: 100%;
        }
        &-price {
            display: block;
            font-weight: 700;
            color: $accent-color;
            line-height: 24px;
            font-size: 24px;
            &--current {

            }
            &--old {
                font-weight: 700;
                color: #808080;
                font-size: 18px;
                display: block;
                margin-right: 15px;
            }
            &--new {

            }
        }
    }
    &__select {
        width: 183px;
        height: 30px;
        border: 1px solid #444;
        margin: 0;
        position: relative;
        padding: 0 40px 0 15px;
        &.is-active {
            .product__select-arrow {
                &:after {
                    border-color: #fff transparent transparent transparent;
                    border-width: 8px 6px 0 6px;
                }
            }
            .product__select-option {
                display: block;
            }
        }
        &-text {
            color: #444;
            font-size: 13px;
            font-weight: 400;
            line-height: 28px;
            display: block;
        }
        &-arrow {
            display: block;
            position: absolute;
            right: 0;
            @include center(false,true);
            width: 30px;
            height: 30px;
            background-color: #444;
            &:after {
                content: '';
                display: block;
                height: 0;
                width: 0;
                @include center;
                border-style: solid;
                border-color: transparent transparent #fff transparent;
                border-width: 0 6px 8px 6px;
            }
        }
        &-option {
            display: none;
            position: absolute;
            top: 100%;
            width: 183px;
            background-color: #fff;
            z-index: 5;
            border: 1px solid #444;
            left: -1px;
            &-item {
                width: 100%;
                padding: 0 15px;
                font-size: 13px;
                line-height: 28px;
            }
        }
    }
}

.aside-mobile-btn {
    @extend .standard-button;
}

.select2-selection__placeholder {
    color: #444!important;
}
.select2-selection--single {
    color: #444;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.select2-results__options {
    padding: 5px 0 10px 0;
}

.select2-results__option[aria-selected=true] {
    background-color: #fff!important;
    color: $accent-color;
}
.select2-results__option {
    transition: color 220ms;
    padding: 0 5px;
    color: #444;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    &:hover {
        color: $accent-color;
    }
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #fff;
    color: $accent-color;
}
