.small-product {
    .product__cost-inner {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    .product__cost-temp {
        width: 100%;
    }
    .product__cost-title {
        font-size: 16px;
        font-weight: 400;
        color: #444;
        text-align: center;
        display: block;
    }
    .product__cost-price {
        text-align: center;
        font-size: 16px;
        color: #444;
        font-weight: 700;
        display: block;
        &--retail {
            font-size: 14px;
        }
    }
    &__layout {
        width: 215px;
        border: 1px solid #bfbfbf;
        margin: 0 auto;
        position: relative;
        transition: border-color 220ms;
        &:hover {
            border: 1px solid #0084ff;
        }
    }
    &__content {
        background-color: #fff;
        padding: 20px 10px;
    }
    &__caption {
        padding: 0;
        margin: 0 0 10px 0;
        color: #444;
        font-weight: 700;
        text-align: center;
        font-size: 14px;
        line-height: 21px;
    }
    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 213px;
        height: 213px;
        margin: 0 auto;
        overflow: hidden;
    }
    &__cost {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: baseline;
        margin-bottom: 10px;
        &-price {
            display: block;
            font-weight: 700;
            color: $accent-color;
            line-height: 24px;
            font-size: 16px;
            &--current {

            }
            &--old {
                font-weight: 700;
                color: #808080;
                font-size: 14px;
                display: block;
                margin-right: 5px;
            }
            &--new {

            }
        }
    }
    &__buy {
        @extend .standard-button;
        width: 140px;
        height: 40px;
        color: $accent-color;
        font-size: 18px;
        font-weight: 700;
        border: 1px solid $accent-color;
        background-color: #fff;
        line-height: 40px;
        transition: color 220ms, border-color 220ms, background-color 220ms;
        margin: 0 auto;
        &:hover {
            color: #fff;
            background-color: $accent-color;
        }
    }
}
