mixin small-product(data)
    .small-product
        .small-product__layout
            .small-product__img
                img(src='static/img/content/pr-' + data.src + '.png')
            .small-product__content
                h3.small-product__caption Эмаль Delfi, алкидная ПФ-266 для пола и название товара в две строки
                .product__cost-inner
                    .product__cost-temp
                        span.product__cost-title Розница:
                        span.product__cost-price.product__cost-price--retail 1000 грн
                    .product__cost-temp
                        span.product__cost-title Партнерка:
                        span.product__cost-price 2000 грн
                .small-product__cost
                    if (data.oldcost && data.newcost)
                        strike.small-product__cost-price.small-product__cost-price--old= data.oldcost
                        span.small-product__cost-price.small-product__cost-price--new= data.newcost
                    else
                        span.small-product__cost-price.small-product__cost-price--current 2000 грн.
                button.small-product__buy Купить
