.review-tabs {
    text-align: center;
    &__rating {
        width: 85px;
        display: flex;
        align-items: center;
        .fa {
            color: $accent-color;
            line-height: 24px;
            font-size: 18px;
            position: relative;
        }
    }
    &__item {
        background-color: #f6f6f6;
        border-radius: 3px;
        padding: 20px 15px 15px;
        margin-bottom: 20px;
        width: 100%;
    }
    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    &__name {
        color: #444;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
    }
    p {
        color: #444;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        margin: 0;
    }
    &-rating {
        position: relative;
        margin: 0 15px 0 0;
        .fa {
            color: $accent-color;
        }
    }
    &__leave {
        display: flex;
        width: 100%;
        align-items: center;
        flex-wrap: wrap;
        &-title {
            color: #444;
            font-size: 24px;
            font-weight: 400;
            line-height: 24px;
            width: 100%;
            text-align: left;
            margin: 0 0 15px 0;
        }
        &-textarea, &-input {
            color: #444;
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            background-color: #fff;
            outline: none;
            border: 1px solid #444;
            @include placeholder {
                color: #808080;
                transition: color 220ms;
            }
            @include placeholder-focus {
                color: transparent;
            }
        }
        &-textarea {
            width: 100%;
            min-height: 80px;
            padding: 10px 15px;
        }
        &-input {
            width: 340px;
            height: 40px;
            border: 1px solid #444;
            padding: 0 15px;
        }
        &-inner {
            display: flex;
            align-items: flex-start;
            width: 100%;
        }
        &-line {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            width: 370px;
            flex: 0 0 auto;
            &--textarea {
                flex: 1 1 auto;
                width: 100%;
            }
        }
        label.error {
            width: 100%;
            margin: 0;
            font-size: 12px;
            color: #da3232;
            text-align: left;
        }
        input.error, textarea.error {
            border-color: #da3232;
        }
        &-button {
            @extend .standard-button;
            width: 165px;
            height: 40px;
            font-size: 24px;
            font-weight: 400;
            display: block;
            margin: 30px 0 0 0;
        }
    }
}
