mixin review
    .review-tabs
        mixin review-item
            .review-tabs__item
                .review-tabs__title
                    span.review-tabs__name Валентин Петров
                    .review-tabs__rating.rating
                        i.rating__icon(class="fa fa-star fa-stack-1x")
                        i.rating__icon(class="fa fa-star fa-stack-1x")
                        i.rating__icon(class="fa fa-star fa-stack-1x")
                        i.rating__icon(class="fa fa-star-o fa-stack-1x")
                        i.rating__icon(class="fa fa-star-o fa-stack-1x")
                p.review-tabs__content Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        +review-item
        +review-item
        +review-item
        +review-item
        +review-item
        +review-item
        +pagination
        form.review-tabs__leave
            h3.review-tabs__leave-title Оставить отзыв
            .review-tabs__leave-inner
                .review-tabs__leave-line.review-tabs__leave-line--input
                    input.review-tabs__leave-input(type='text' placeholder='Ваше имя' name='name')
                    +rating
                .review-tabs__leave-line.review-tabs__leave-line--textarea
                    textarea.review-tabs__leave-textarea(placeholder='Напишите Ваш отзыв...' name='area')
                    input.review-tabs__leave-button(type='submit' value='Добавить')
