.breadcrumbs {
    padding: 30px 0;

    a {
        font-weight: 400;
        position: relative;
        display: inline-block;
        font-size: 16px;
        line-height: 24px;
        color: #808080;

        &:after {
            content: '\f105';
            display: inline-block;
            right: 0;
            line-height: 24px;
            font-family: FontAwesome, sans-serif;
            font-size: 16px;
            margin: 0 5px;
        }

        &:last-child {
            color: $accent-color;
            pointer-events: none;

            &:after {
                content: none;
            }

        }

    }

}
