mixin advertising-page
    +breadcrumbs
    .standard
        .container
            h2.main-title Реклама на сайте
            .aa-block
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                h3 Оставьте заявку на рекламу
                form.aa-block__form#aa-block-form
                    .aa-block__field
                        input.aa-block__input(type='text' placeholder='Имя' name='name')
                    .aa-block__field
                        input.aa-block__input(type='text' placeholder='Телефон' name='phone')
                    .aa-block__field
                        input.aa-block__input(type='text' placeholder='E-mail' name='email')
                    .aa-block__field
                        textarea.aa-block__input.aa-block__input--textarea(placeholder='Оставьте сообщение...' name='area')
                    .aa-block__field
                        input.aa-block__submit(type='submit' value='Отправить')


