.aa-block {
    background: transparent url(../../static/img/content/adv-bg.jpg) no-repeat center / cover;
    padding: 35px 95px 50px;
    p {
        color: #444;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        margin: 0;
    }
    h3 {
        color: #444;
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;
        margin: 30px 0;
    }
    &__field {
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    label.error {
        font-size: 12px;
        position: absolute;
        margin: 0;
        width: 100%;
        display: block;
        text-align: center;
        bottom: -18px;
        color: #ff181f;
    }
    &__input{
        color: #444;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        width: 405px!important;
        height: 40px;
        outline: none;
        background-color: #fff;
        padding: 0 20px;
        border: 1px solid #444;
        &:focus {
            border-color: $accent-color;
        }
        &--textarea {
            height: 80px;
            padding: 10px 20px;
            overflow-y: auto;
        }
        &.error {
            border-color: #ff181f;
        }
    }
    &__submit {
        @extend .standard-button;
        width: 180px;
        height: 40px;
    }
}
