.navigation {
    height: 40px;
    background-color: #0084ff;
    display: flex;
    position: relative;
    align-items: center;
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__menu {
        width: 100%;
        max-width: 600px;
        &-list {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            padding: 0;
            margin: 0;
            list-style-type: none;
            flex-wrap: wrap;
            a {
                display: flex;
                align-items: center;
                transition: color 220ms;
                color: #fff;
                font-size: 22px;
                font-weight: 700;
                line-height: 24px;
                &:hover,&:focus {
                    color: $accent-color;
                }
            }
        }
    }
    &__phone {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 165px;
        a {
            font-size: 17px;
            font-weight: 700;
            display: flex;
            align-items: center;
            transition: color 220ms;
            line-height: 24px;
            padding-left: 25px;
            position: relative;
            &:hover,&:focus {
                color: $accent-color;
                &:after {
                    color: $accent-color;
                }
            }
            &:after {
                content: '\f095';
                font-family: FontAwesome, sans-serif;
                display: block;
                left: 0;
                @include center(false,true);
                font-size: 18px;
                line-height: 24px;
                transition: color 220ms;
            }
        }
        &-first {
            a {
                color: #fff;
                &:after {
                    color: #fff;
                }
            }
        }
        &-btn {
            width: 20px;
            height: 20px;
            position: relative;
            display: block;
            cursor: pointer;
            &:after {
                content: '';
                display: block;
                color: #fff;
                @include center(false,true);
                right: 0;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                width: 0;
                height: 0;
            }
            &--close {
                &:after {
                    border-top: 7px solid #fff;
                }
            }
            &--open {
                &:after {
                    border-bottom: 7px solid #fff;
                }
            }
        }
        &-list {
            position: absolute;
            min-width: 180px;
            display: none;
            right: 0;
            top: 32px;
            padding: 14px 15px 15px;
            background-color: #fff;
            z-index: 5;
            box-shadow: 0 0 6px rgba(17, 19, 20, 0.35);
            li:first-child a {
                margin-bottom: 15px;
            }
            a {
                color: #444;
                &:after {
                    color: #444;
                }
            }
        }
    }
}
