mixin navigation
    nav.navigation#top
        .container
            .navigation__inner
                nav.navigation__menu
                    ul.navigation__menu-list
                        li: a(href='#') Доставка
                        li: a(href='#') Оплата
                        li: a(href='#') Услуги
                        li: a(href='#') Справочники
                        li: a(href='#') Контакты
                .navigation__phone
                    .navigation__phone-first
                        a(href='tel:0630000000') 063 000 00 00
                    span.navigation__phone-btn.navigation__phone-btn--close
                    ul.navigation__phone-list
                        li: a(href='tel:0630000000') 063 000 00 00
                        li: a(href='tel:0630000000') 063 000 00 00

