.acc {
    &__inner {

    }
    &__layout {
        margin-bottom: 14px;
        &.acc__layout--active {
            .acc__title {
                &:after {
                    border-color: transparent transparent #fff transparent;
                    border-width: 0 7px 9px 7px;
                }
            }
        }
    }
    &__title {
        height: 50px;
        background-color: #0084ff;
        width: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
        justify-content: flex-start;
        text-align: left;
        padding: 0 30px;
        position: relative;
        &:after {
            content: '';
            display: block;
            @include center(false, true);
            right: 30px;
            border-color: #fff transparent transparent transparent;
            border-style: solid;
            border-width: 9px 7px 0 7px;
        }
        span {
            line-height: 50px;
            color: #fff;
            font-size: 18px;
            font-weight: 500;
        }
    }
    &__content {
        background-color: #fff;
        padding: 20px 30px;
        display: none;
        p {
            color: #444;
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            margin: 0;
        }
    }
}
