mixin cart-tabs-block
    .cart-tabs
        .cart-tabs__inner
            .cart-tabs__wrap
                mixin cart-tabs-title(title, id, cls)
                    .cart-tabs__title(data-id='tab-' + id class= cls)= title
                +cart-tabs-title('Я постоянный покупатель', 1, 'cart-tabs__title--active')
                +cart-tabs-title('Я новый покупатель', 2, '')
            mixin cart-tabs-content(id, content, style)
                .cart-tabs__content(id='tab-' + id style= style)
                    if content
                        block
            +cart-tabs-content(1, 'content', 'display:block')
                .cart-tabs__content-box
                    form.const-client
                        .login-block
                            .login-block__field
                                input.login-block__input(type='text' placeholder='Имя' name='name')
                            .login-block__field
                                input.login-block__input(type='password' placeholder='Введите пароль' name='password')
                            .login-block__field
                                input.login-block__input(type='text' placeholder='Город' name='city')
                            .login-block__field
                                input.login-block__input(type='text' placeholder='Телефон + 38 0XX XXX XXX' name='phone')
                            .login-block__field
                                input.login-block__input(type='text' placeholder='E-mail' name='email')
                            .login-block__field
                                input.login-block__btn-submit.login-block__btn-submit--long(type='submit' value='Зарегистрироваться')
            +cart-tabs-content(2, 'content', 'display:none')
                .cart-tabs__content-box
                    form.login-client
                        .login-block
                            .login-block__field
                                label.login-block__label Электронная почта
                                input.login-block__input(type='text' placeholder='E-mail' name='email')
                            .login-block__field
                                label.login-block__label Пароль
                                input.login-block__input(type='password' placeholder='Введите пароль' name='password')
                            .login-block__field
                                .login-block__line
                                    input.login-block__btn-submit(type='submit' value='Войти')
                                    a.login-block__reg-link(href='#') Напомнить пароль
