.h-tabs {
    &__inner {
        display: flex;
        align-items: flex-start;
    }
    &__wrap {
        width: 290px;
        flex: 0 0 auto;
    }
    &__title {
        height: 40px;
        background-color: #fff;
        border: 1px solid #444;
        width: 263px;
        color: #444;
        font-size: 18px;
        font-weight: 400;
        line-height: 40px;
        display: flex;
        align-items: center;
        cursor: pointer;
        justify-content: flex-start;
        padding: 0 15px;
        transition: color 220ms, background-color 220ms, border-color 220ms;
        margin-bottom: -1px;
        position: relative;
        &--active, &:hover {
            background-color: #0084ff;
            color: #fff;
            border-color: #0084ff;
            &:after {
                content: '';
                display: block;
                @include center(false, true);
                right: 20px;
                border-color: transparent transparent transparent #fff;
                border-style: solid;
                border-width: 4.5px 0 4.5px 9px;
            }
        }
    }
    &__content {
        width: 100%;
        background-color: #fff;
        flex: 1 1 auto;
        padding: 30px;
        p {
            color: #444;
            font-size: 18px;
            margin: 0;
            font-weight: 400;
            line-height: 27px;
        }
    }
}
