mixin catalog-page
    +breadcrumbs
    section.catalog
        .container
            .catalog__wrap
                .aside-wrap
                    +aside
                    .sales-product
                        a(href='#').sales-product__inner
                            img(src='static/img/content/sale-banner-1.png')
                        a(href='#').sales-product__inner
                            img(src='static/img/content/sale-banner-2.png')
                .catalog__content
                    .title-line
                        h2.title-line__text Отделочные материалы
                    .catalog__list
                        +product({
                            cls: "product--catalog",
                            bannerCls: "product__banner--sale",
                            banner: "Акция",
                            src: 1,
                            oldcost: "2000 грн",
                            newcost: "1000 грн"
                        })
                        +product({
                            cls: "product--catalog",
                            bannerCls: "product__banner--new",
                            banner: "Новинка",
                            src: 2,
                            oldcost: "2000 грн",
                            newcost: "1000 грн"
                        })
                        +product({
                            cls: "product--catalog",
                            bannerCls: "product__banner--stock",
                            banner: "Распродажа",
                            src: 1,
                            oldcost: "2000 грн",
                            newcost: "1000 грн"
                        })
                        +product({
                            cls: "product--catalog",
                            bannerCls: "product__banner--special",
                            banner: "Спец. предложение",
                            src: 1,
                            oldcost: "2000 грн",
                            newcost: "1000 грн"
                        })
                        +product({
                            cls: "product--catalog",
                            bannerCls: "product__banner--sale",
                            banner: "Акция",
                            src: 1,
                            oldcost: "2000 грн",
                            newcost: "1000 грн"
                        })
                        +product({
                            cls: "product--catalog",
                            bannerCls: "product__banner--new",
                            banner: "Новинка",
                            src: 2,
                            oldcost: "2000 грн",
                            newcost: "1000 грн"
                        })
                        +product({
                            cls: "product--catalog",
                            bannerCls: "product__banner--stock",
                            banner: "Распродажа",
                            src: 1,
                            oldcost: "2000 грн",
                            newcost: "1000 грн"
                        })
                        +product({
                            cls: "product--catalog",
                            bannerCls: "product__banner--special",
                            banner: "Спец. предложение",
                            src: 1,
                            oldcost: "2000 грн",
                            newcost: "1000 грн"
                        })
                    a(href='#').product__more Еще
