// catalog-page
// ==================================================

.catalog {
    &__content {
        flex: 1 1 auto;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }
    &__wrap {
        display: flex;
        width: 100%;
        align-items: flex-start;
        justify-content: space-between;
        padding-bottom: 65px;
    }
    &__list {
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
    }
}

.title-line {
    width: 100%;
    margin-left: 15px;
    &__text {
        text-align: left;
        color: #444;
        font-size: 24px;
        font-weight: 500;
        margin: 0 0 25px 0;
    }
}
.product__more {
    @extend .standard-button;
    width: 127px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #444;
    color: #444;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    margin: 0 auto;
}
.sales-product__inner {
    margin-bottom: 25px;
    display: block;
}
