// index
// ==================================================

.front-slider {
    margin-bottom: 50px;
    &__wrap {
        margin: 0 0 0 auto;
        background-color: #fff;
        padding: 30px 25px;
        opacity: 0;
        position: relative;
        .swiper-pagination {
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: center;
            &-bullet {
                width: 10px;
                height: 10px;
                background-color: #444;
                opacity: 1;
                margin-right: 10px;
                &:last-child {
                    margin-right: 0;
                }
                &-active {
                    width: 15px;
                    height: 15px;
                    border: 2px solid #444;
                    background-color: #fff;
                }
            }
        }
        .swiper-button {
            &-prev,&-next {
                background: transparent none;
                margin: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 48px;
                height: 48px;
                &:after {
                    content: '';
                    display: block;
                    @include center;
                }
            }
            &-prev {
                left: 30px;
                &:after {
                    @include bg($arrow-left-top);
                }
            }
            &-next {
                right: 30px;
                &:after {
                    @include bg($arrow-right-top);
                }
            }
        }
    }
}

.top-slider {
    width: 100%;
    padding: 0 60px;
    &__offer {
        color: $accent-color;
        font-size: 36px;
        height: 60px;
        border: 3px solid #ff9600;
        width: 400px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        line-height: 60px;
        font-weight: 700;
        margin: 0 0 45px auto;
        transition: color 220ms, border-color 220ms, background-color 220ms;
        &:hover,&:focus {
            background-color: #444;
            color: #fff;
            border-color: #444;
        }
    }
    &__product {
        display: flex;
        width: 100%;
        align-items: center;
        padding: 0 55px;
        max-width: 900px;
        margin: 0 auto;
    }
    &__title {
        color: #444;
        font-size: 36px;
        font-weight: 500;
        line-height: 36px;
        margin: 0 0 15px 0;
    }
    &__img {
        width: 295px;
        flex: 0 0 auto;
        text-align: center;
        img {
            width: 207px;
            height: 256px;
        }
    }
    &__content {
        flex: 1 1 auto;
    }
    &__cost {
        font-weight: 500;

        &-old {
            font-size: 18px;
            color: #808080;
            line-height: 22px;
        }
        &-new {
            color: #ff9600;
            font-size: 36px;
            display: block;
            line-height: 36px;
            width: 100%;
        }
    }
    &__buttons {
        display: flex;
        margin-top: 15px;
        align-items: center;
        &-buy {
            @extend .standard-button;
            text-transform: uppercase;
            font-weight: 400;
            height: 50px;
            margin-right: 30px;
        }
        &-more {
            color: #444;
            font-size: 18px;
            font-weight: 500;
            display: block;
            line-height: 36px;
            transition: color 220ms;
            text-decoration: underline;
            &:hover,&:focus {
                color: $accent-color;
                text-decoration: underline;
            }
        }
    }
}

.our-partners {
    &__title {
        color: #444;
        font-size: 36px;
        font-weight: 700;
        line-height: 24px;
        text-align: center;
        margin: 0 0 25px 0;
    }
    &__slider {
        position: relative;
        margin: 0 auto;
        max-width: 1275px;
        width: 100%;
        margin-bottom: 90px;
        .swiper-container {
            max-width: 1140px;
            width: 100%;
            margin: 0 auto;
            background-color: #fff;
            padding: 40px 0;
        }
        .swiper-wrapper {
            align-items: center;
        }
        .swiper-slide {
            text-align: center;
            img {
                margin: 0 auto;
            }
        }
        .swiper-button {
            &-prev,&-next {
                margin: 0;
                background: transparent none;
                width: 25px;
                height: 41px;
                top: 50%;
                transform: translateY(-50%);
                &:after {
                    content: '';
                    display: block;
                    @include center;
                }
            }
            &-prev {
                &:after {
                    @include bg($arrow-left-black);
                }
            }
            &-next {
                &:after {
                    @include bg($arrow-right-black);
                }
            }
        }
    }
}
