mixin main-page
    section.front-slider
        .container
            .front-slider__wrap
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            .top-slider
                                a.top-slider__offer(href='#') Супер предложения
                                .top-slider__product
                                    .top-slider__img
                                        img(src='static/img/content/top-slider.png')
                                    .top-slider__content
                                        h3.top-slider__title Эмаль Delfi, алкидная ПФ-266 для пола
                                        .top-slider__cost
                                            strike.top-slider__cost-old 1000 грн
                                            span.top-slider__cost-new 699 грн
                                        .top-slider__buttons
                                            a.top-slider__buttons-buy(href='#') Купить
                                            a.top-slider__buttons-more(href='#') Подробнее
                        .swiper-slide
                            .top-slider
                                a.top-slider__offer(href='#') Супер предложения
                                .top-slider__product
                                    .top-slider__img
                                        img(src='static/img/content/top-slider.png')
                                    .top-slider__content
                                        h3.top-slider__title Эмаль Delfi, алкидная ПФ-266 для пола
                                        .top-slider__cost
                                            strike.top-slider__cost-old 1000 грн
                                            span.top-slider__cost-new 699 грн
                                        .top-slider__buttons
                                            a.top-slider__buttons-buy(href='#') Купить
                                            a.top-slider__buttons-more(href='#') Подробнее
                        .swiper-slide
                            .top-slider
                                a.top-slider__offer(href='#') Супер предложения
                                .top-slider__product
                                    .top-slider__img
                                        img(src='static/img/content/top-slider.png')
                                    .top-slider__content
                                        h3.top-slider__title Эмаль Delfi, алкидная ПФ-266 для пола
                                        .top-slider__cost
                                            strike.top-slider__cost-old 1000 грн
                                            span.top-slider__cost-new 699 грн
                                        .top-slider__buttons
                                            a.top-slider__buttons-buy(href='#') Купить
                                            a.top-slider__buttons-more(href='#') Подробнее
                .swiper-button-prev
                .swiper-button-next
                .swiper-pagination


    +slider-product('Новинки')
    +slider-product('Акции')
    +slider-product('Распродажи')




    section.our-partners
        h2.our-partners__title Партнеры
        .our-partners__slider
            .swiper-container
                .swiper-wrapper
                    mixin o-p(img)
                        .swiper-slide
                            img(src='static/img/content/p-' + img +'.png')
                    +o-p(1)
                    +o-p(2)
                    +o-p(3)
                    +o-p(4)
                    +o-p(1)
            .swiper-button-prev
            .swiper-button-next

