mixin aside
    button.aside-mobile-btn Фильтр
    aside.aside.inner-box__aside
        mixin aside-option(title, id)
            .aside__option
                .aside__option-name
                    h3.aside__option-name-text= title
                    i.aside__option-name-arrow
                .aside__option-values
                    if(id === 1)
                        mixin aside__option-field(text)
                            .aside__option-field
                                label.aside__option-values-label
                                    input(type="checkbox")
                                    span.aside__option-values-input
                                    span.aside__option-values-name= text
                    if(id === 2)
                        mixin aside__option-field(text)
                            .aside__option-field
                                label.aside__option-values-label
                                    input(type="radio" name='val')
                                    span.aside__option-values-input
                                    span.aside__option-values-name= text
                    if(id === 1)
                        +aside__option-field("Fantasy")
                        +aside__option-field("Adventure")
                        +aside__option-field("Cartoon")
                        +aside__option-field("Classic")
                        +aside__option-field("Bestseller")
                        +aside__option-field("Detective")
                        +aside__option-field("Steampunk")
                        +aside__option-field("Sci-Fy")
                    if(id === 2)
                        +aside__option-field('Samsung')
                        +aside__option-field('Apple')
                        +aside__option-field('Xiaomi')
                        +aside__option-field('Meizu')
                        +aside__option-field('Lenovo')
                        +aside__option-field('HTC')
                        +aside__option-field('Asus')
                        +aside__option-field('Huawei')
                        +aside__option-field('Samsung')
                        +aside__option-field('Apple')
                        +aside__option-field('Xiaomi')
                        +aside__option-field('Meizu')
                        +aside__option-field('Lenovo')
                        +aside__option-field('HTC')
                        +aside__option-field('Asus')
                        +aside__option-field('Huawei')
                    if(id === 3)
                        .card-product__content-color
                            .card-product__content-color-inner
                                .card-product__content-color-array
                                    label.card-product__content-color-item
                                        input(type='radio' name='color-item')
                                        span.card-product__content-color-prop.card-product__content-color-prop--white(data-color='#ffffff')
                                            i.fa.fa-check.card-product__content-color-icon
                                        .card-product__content-color-item-tooltip
                                            .card-product__content-color-item-tooltip__text tooltip color
                                    label.card-product__content-color-item
                                        input(type='radio' name='color-item')
                                        span.card-product__content-color-prop(data-color='#808080')
                                            i.fa.fa-check.card-product__content-color-icon
                                        .card-product__content-color-item-tooltip
                                            .card-product__content-color-item-tooltip__text tooltip color
                                    label.card-product__content-color-item
                                        input(type='radio' name='color-item')
                                        span.card-product__content-color-prop(data-color='#000000')
                                            i.fa.fa-check.card-product__content-color-icon
                                        .card-product__content-color-item-tooltip
                                            .card-product__content-color-item-tooltip__text tooltip color
                                    label.card-product__content-color-item
                                        input(type='radio' name='color-item' checked)
                                        span.card-product__content-color-prop(data-color='#e62020')
                                            i.fa.fa-check.card-product__content-color-icon
                                        .card-product__content-color-item-tooltip
                                            .card-product__content-color-item-tooltip__text tooltip color
                                    label.card-product__content-color-item
                                        input(type='radio' name='color-item')
                                        span.card-product__content-color-prop(data-color='#209ee6')
                                            i.fa.fa-check.card-product__content-color-icon
                                        .card-product__content-color-item-tooltip
                                            .card-product__content-color-item-tooltip__text tooltip color
                                    label.card-product__content-color-item
                                        input(type='radio' name='color-item')
                                        span.card-product__content-color-prop(data-color='#159318')
                                            i.fa.fa-check.card-product__content-color-icon
                                        .card-product__content-color-item-tooltip
                                            .card-product__content-color-item-tooltip__text red
                                    label.card-product__content-color-item
                                        input(type='radio' name='color-item')
                                        span.card-product__content-color-prop(data-color='#f5f325')
                                            i.fa.fa-check.card-product__content-color-icon
                                        .card-product__content-color-item-tooltip
                                            .card-product__content-color-item-tooltip__text tooltip color
                                    label.card-product__content-color-item
                                        input(type='radio' name='color-item')
                                        span.card-product__content-color-prop(data-color='#e69920')
                                            i.fa.fa-check.card-product__content-color-icon
                                        .card-product__content-color-item-tooltip
                                            .card-product__content-color-item-tooltip__text orange
                                    label.card-product__content-color-item
                                        input(type='radio' name='color-item')
                                        span.card-product__content-color-prop(data-color='#c418de')
                                            i.fa.fa-check.card-product__content-color-icon
                                        .card-product__content-color-item-tooltip
                                            .card-product__content-color-item-tooltip__text tooltip color
                                    label.card-product__content-color-item
                                        input(type='radio' name='color-item')
                                        span.card-product__content-color-prop(data-color='#8c5a0b')
                                            i.fa.fa-check.card-product__content-color-icon
                                        .card-product__content-color-item-tooltip
                                            .card-product__content-color-item-tooltip__text tooltip color

        +aside-option('Производители', 1)
        +aside-option('Объем', 2)
        +aside-option('Цвет', 3)
