.aside {
    position: relative;
    z-index: 3;
    margin-bottom: 30px;
    width: 263px;
    flex: 0 0 auto;
    &-wrap {
        width: 293px;
        flex: 0 0 auto;
    }
    &__title {
        display: flex;
        align-items: center;
        padding: 0 20px;
        width: 263px;
        justify-content: center;
        text-align: center;
        top: 0;
        position: absolute;
        height: 50px;
        left: 0;
        background-color: #0084ff;
        h2 {
            color: #fff;
            font-size: 18px;
            font-weight: 700;
            margin: 0;
            line-height: 50px
        }
    }
    &__option {
        margin-bottom: 20px;
        &:last-of-type {
            margin-bottom: 0;
        }
        &-name {
            background-color: #0084ff;
            height: 50px;
            padding: 0 40px 0 30px;
            position: relative;
            cursor: pointer;
            &-text {
                color: #fff;
                font-size: 18px;
                font-weight: 700;
                line-height: 50px;
                margin: 0;
            }
            &-arrow {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 13px;
                height: 9px;
                color: #fff;
                @include center(false,true);
                right: 15px;
                font-size: 30px;
                &:before,&:after {
                    content: '';
                    height: 2px;
                    width: 7px;
                    background-color: #fff;
                    display: block;
                    @include center(false,true);
                    transition: transform 300ms;
                }
                &:before {
                    transform: rotate(-45deg);
                    left: 2px;
                }
                &:after {
                    transform: rotate(45deg);
                    right: 0;
                }
                &.rotate-active {
                    &:before {
                        transform: rotate(45deg);
                    }
                    &:after {
                        transform: rotate(-45deg);
                    }
                }
            }
        }
        &-values {
            background-color: #fff;
            padding: 20px 30px;
            input[type=checkbox], input[type=radio] {
                display: none;
            }
            &-label {
                display: flex;
                align-items: center;
            }
            &-input {
                width: 20px;
                height: 20px;
                border: 1px solid #444;
                display: block;
                border-radius: 50%;
                margin: 0 10px 0 0;
                position: relative;
            }
            &-name {
                color: #444;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                display: block;
            }
            input[type=checkbox]:checked + .aside__option-values-input,
            input[type=radio]:checked + .aside__option-values-input {
                &:after {
                    content: '';
                    display: block;
                    @include center;
                    background-color: $accent-color;
                    border-radius: 50%;
                    width: 12px;
                    height: 12px;
                }
            }
        }
    }
}


.card-product__content {
    &-color {
        &-title {
            color: #6a6a6a;
            font-weight: 700;
            display: block;
            margin-bottom: 15px;
            font-size: 24px;
            line-height: 27px;
        }
        &-array {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
        &-item {
            margin-right: 10px;
            display: block;
            cursor: pointer;
            position: relative;
            &:last-child {
                margin-right: 0;
            }
            &-tooltip {
                position: absolute;
                left: -10px;
                top: 100%;
                background-color: #fff;
                border-radius: 3px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
                z-index: 4;
                padding: 2px 10px;
                white-space: nowrap;
                min-width: 60px;
                display: none;
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-color: transparent transparent #fff transparent;
                    border-width: 0 6px 6px 6px;
                    top: -6px;
                    left: 25px;
                }
                &__text {
                    color: #333;
                    font-size: 15px;
                    text-align: center;
                    font-weight: 400;
                    line-height: 24px;
                }
            }
            &:hover {
                .card-product__content-color-item-tooltip {
                    display: block;
                }
            }
        }
        input[type=radio] {
            display: none;
        }
        &-prop {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: block;
            border: 3px solid transparent;
            position: relative;
            &:after {
                color: #000000;
            }
            &--white {
                background-color: #fff;
                border-color: $border-color;
            }
        }
        &-icon {
            font-size: 26px;
            padding: 2px;
            @include center;
            display: none;
        }
        input[type=radio]:checked + .card-product__content-color-prop .card-product__content-color-icon {
            display: block;
        }
        input[type=radio]:checked + .card-product__content-color-prop--white {
            background-color: #f4f4f4;
            border: 3px solid $border-color;
            .card-product__content-color-icon {
                border: 2px solid #fff;
                border-radius: 50%;
            }

        }
    }
}

%aside-title {
    font-family: $default-font;
    font-weight: bold;
    color: #353535;
    font-size: 20px;
    line-height: 38px;
    text-transform: uppercase;
    margin: 0;
}

%aside-content {
    color: #464646;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
}

.show-all {
    color: #d35741;
    font-size: 16px;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0 0 0 10px;
    line-height: 29px;
    text-decoration: underline;
}

.aside-mobile-btn {
    display: none;
}
