mixin slider-product(title)
    section.slider-product
        .container
            a.slider-title(href='#')
                span.slider-title__text= title
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        +product({
                            src: '1',
                            caption: 'Эмаль Delfi, алкидная ПФ-266 для пола и название товара в две строки',
                            oldcost: '2000 грн.',
                            newcost: '1000 грн.',
                            banner: 'Акция'
                        })
                    .swiper-slide
                        +product({
                            src: '2',
                            caption: 'Эмаль Delfi, алкидная ПФ-266 для пола и название товара в две строки',
                            oldcost: '3000 грн.',
                            newcost: '2000 грн.',
                            banner: 'Новинка'
                        })
                    .swiper-slide
                        +product({
                            src: '1',
                            caption: 'Эмаль Delfi, алкидная ПФ-266 для пола и название товара в две строки',
                            oldcost: '2000 грн.',
                            newcost: '1000 грн.',
                            banner: 'Распродажа'
                        })
                    .swiper-slide
                        +product({
                            src: '2',
                            caption: 'Эмаль Delfi, алкидная ПФ-266 для пола и название товара в две строки',
                            oldcost: '3000 грн.',
                            newcost: '2000 грн.',
                            banner: 'Спец. предложение'
                        })
        .swiper-button-prev
        .swiper-button-next
