.slider-product, .slider-product--popular {
    padding: 0 0 50px 0;
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    .swiper {
        &-button {
            &-wrap {
                position: relative;
                width: 90px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 50px;
            }
            &-prev,&-next {
                margin: 0;
                background: transparent none;
                width: 25px;
                height: 41px;
                top: 50%;
                transform: translateY(-50%);
                &:after {
                    content: '';
                    display: block;
                    @include center;
                }
            }
            &-prev {
                &:after {
                    @include bg($arrow-left-black);
                }
            }
            &-next {
                &:after {
                    @include bg($arrow-right-black);
                }
            }
        }
    }
}

.slider-title {
    height: 60px;
    display: inline-block;
    background-color: #fff;
    border: 3px solid $accent-color;
    margin-bottom: 30px;
    transition: background-color 220ms;
    &__text {
        color: $accent-color;
        width: 100%;
        height: 100%;
        transition: color 220ms;
        font-size: 36px;
        padding: 0 30px;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        line-height: 60px;
    }
    &:hover {
        background-color: $accent-color;
        .slider-title__text {
            color: #fff;
        }
    }
}
