mixin item-cart-list
    mixin item-cart(data)
        .item-cart
            .item-cart__layout
                .item-cart__img
                    a(href='#')
                        img(src='static/img/content/c-' + data.img + '.png')
                .item-cart__content
                    .item-cart__close
                        button.item-cart__close-button
                    .item-cart__name-title
                        a(href='#')
                            span.item-cart__name-title-text= data.title
                    .item-cart__prop
                        .item-cart__count
                            +count
                        .item-cart__cost
                            strike.item-cart__cost-text.item-cart__cost-text--old= data.oldCost
                            span.item-cart__cost-text.item-cart__cost-text--new= data.newCost
    +item-cart({
        img: '1',
        title: 'Эмаль Delfi, алкидная ПФ-266 для пола',
        newCost: '1 000 грн.'
    })
    +item-cart({
        img: '1',
        title: 'Эмаль Delfi, алкидная ПФ-266 для пола с длинным название в две строки',
        newCost: '1 000 грн.',
        oldCost: '2 000 грн'
    })
