.item-cart {
    width: 100%;
    margin-bottom: 30px;
    &:last-of-type {
        margin-bottom: 0;
    }
    &__layout {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__img {
        width: 127px;
        height: 127px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 auto;
        img {
            margin: 0;
        }
    }
    &__content {
        width: 100%;
        flex: 1 1 auto;
        padding-left: 30px;
    }
    &__name {
        width: 315px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        &-title {
            margin-bottom: 15px;
            &-text {
                color: #444;
                font-size: 18px;
                font-weight: 700;
                line-height: 21px;
                display: block;
                text-align: left;
                transition:  color 220ms;
                &:hover {
                    color: $accent-color;
                }
            }
        }
    }
    &__prop {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__count {
        width: 110px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__cost {
        display: flex;
        align-items: baseline;
        &-text {
            color: #444;
            font-size: 20px;
            font-weight: 500;
            display: block;
            margin: 0;
            &--old {
                color: #808080;
                font-size: 14px;
                margin-right: 10px;
            }
        }
    }
    &__close {
        width: 100%;
        height: 20px;
        text-align: right;
        margin-bottom: 15px;
        &-button {
            width: 20px;
            height: 20px;
            background-color: #444;
            border-radius: 2px;
            position: relative;
            outline: none;
            border: none;
            padding: 0;
            transition: border-color 220ms;
            &:after {
                content: '\f00d';
                font-family: FontAwesome, sans-serif;
                display: block;
                font-size: 16px;
                line-height: 19px;
                height: 20px;
                background-image: none;
                color: #bfbfbf;
                border-radius: 2px;
                transition: color 220ms;
                @include center;
            }
            &:hover {
                border-color: $accent-color;
                &:after {
                    color: $accent-color;
                }
            }
        }
    }
}
