// pagination
// ==================================================
.pagination {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &-wrap {
        margin: 60px auto;
    }

    &__page-numbers {
        color: #444;
        font-family: $default-font;
        font-size: 24px;
        font-weight: 700;
        line-height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
        float: left;
        text-decoration: none;
        width: 42px;
        height: 42px;
        border: 1px solid $main-color;
        margin: 0 5px;
        transition: border-color 220ms, backgrodund-color 220ms, color 220ms;

        &:hover {
            color: #fff;
            background-color: $accent-color;
            border-color: $accent-color;
        }

        &:last-child {
            margin-right: 0;
        }

        &--current {
            color: #fff;
            background-color: $main-color;
            border-color:  $main-color;

            &:hover {
                color: #fff;
                background-color: $main-color;
                border-color:  $main-color;
            }

        }

        &--to-start, &--to-end {
            color: #808080;
            font-size: 18px;
            line-height: 42px;
            font-weight: 700;
            width: auto;
            height: auto;
            margin: 0 5px;
            padding: 0 25px;
            transition: color 220ms;
            position: relative;
            background-color: transparent;

            &:hover {
                background-color: transparent;
                color: #444;
            }

        }

        &--to-start {
            margin-left: 0;

            &:before {
                display: inline-block;
                content: '\f177';
                font-family: FontAwesome, sans-serif;
                margin-right: 5px;
            }

        }

        &--to-end {
            margin-right: 0;

            &:after {
                display: inline-block;
                content: '\f178';
                font-family: FontAwesome, sans-serif;
                margin-left: 5px;
            }

        }

    }

}
