mixin pagination
    .pagination-wrap
        .pagination
            a.pagination__page-numbers.pagination__page-numbers--to-start(href='#') Назад
            span.pagination__page-numbers.pagination__page-numbers--current 1
            a.pagination__page-numbers(href='#') 2
            a.pagination__page-numbers(href='#') 3
            a.pagination__page-numbers(href='#') 4
            a.pagination__page-numbers.pagination__page-numbers--to-end(href='#') Дальше
