.count {
    width: 110px;
    position: relative;
    height: 30px;
    display: flex;
    align-items: center;
    &__input {
        width: 50px!important;
        height: 30px;
        border: 1px solid #ff9600;
        background-color: #fff;
        color: #444;
        font-size: 18px;
        font-weight: 500;
        flex: 0 0 auto;
        line-height: 24px;
        text-align: center;
        padding: 0 10px;
    }
    &__max, &__min {
        width: 30px;
        height: 30px;
        background-color: $accent-color;
        font-weight: bold;
        display: flex;
        flex: 0 0 auto;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 24px;
        line-height: 24px;
        position: relative;
        transition: background-color 220ms;
        cursor: pointer;
        &:after {
            content: '';
            display: block;
            font-family: FontAwesome, sans-serif;
            @include center;
        }
        &:hover {
            background-color: $main-color;
        }
    }
    &__min {
        &:after {
            @include bg($min-icon);
        }
    }
    &__max {
        &:after {
            @include bg($max-icon);
        }
    }
}
