mixin self-tabs
    .self-tabs
        .self-tabs__inner
            .self-tabs__wrap
                mixin self-tabs-title(title, id, cls, count)
                    .self-tabs__title(data-id='tab-#{id}' class= cls)= title
                        if count
                            span= count
                +self-tabs-title('Описание', 1, '')
                +self-tabs-title('Характеристика', 2, '')
                +self-tabs-title('Отзывы', 3, 'self-tabs__title--active')
        mixin self-tabs-content(id, content, style)
            .self-tabs__content(id='tab-#{id}' style= style)
                if content
                    block
        +self-tabs-content(1, 'content', 'display:none')
            .self-tabs__content-box
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.

                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
        +self-tabs-content(2, 'content','display:none;')
            .self-tabs__content-box
                .self-tabs__list-wrap
                    ul.self-tabs__list-feature
                        li.self-tabs__list-feature-item
                            span.self-tabs__list-feature-title Материал:
                            span.self-tabs__list-feature-text асбесто-цемент
                        li.self-tabs__list-feature-item
                            span.self-tabs__list-feature-title Размеры:
                            span.self-tabs__list-feature-text 1750х1130х6,5
                        li.self-tabs__list-feature-item
                            span.self-tabs__list-feature-title Материал:
                            span.self-tabs__list-feature-text асбесто-цемент
                        li.self-tabs__list-feature-item
                            span.self-tabs__list-feature-title Размеры:
                            span.self-tabs__list-feature-text 1750х1130х6,5
                    ul.self-tabs__list-feature
                        li.self-tabs__list-feature-item
                            span.self-tabs__list-feature-title Материал:
                            span.self-tabs__list-feature-text асбесто-цемент
                        li.self-tabs__list-feature-item
                            span.self-tabs__list-feature-title Размеры:
                            span.self-tabs__list-feature-text 1750х1130х6,5
                        li.self-tabs__list-feature-item
                            span.self-tabs__list-feature-title Материал:
                            span.self-tabs__list-feature-text асбесто-цемент
                        li.self-tabs__list-feature-item
                            span.self-tabs__list-feature-title Размеры:
                            span.self-tabs__list-feature-text 1750х1130х6,5
        +self-tabs-content(3, 'content')
            .self-tabs__content-box
                +review
