.self-tabs {
    margin-top: 50px;
    &__inner {

    }
    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 584px;
    }
    &__title {
        color: #444;
        font-size: 24px;
        font-weight: 400;
        height: 60px;
        border-top: 1px solid #444;
        display: flex;
        align-items: center;
        flex: 1 1 auto;
        text-align: center;
        position: relative;
        line-height: 60px;
        padding: 0 10px;
        justify-content: center;
        cursor: pointer;
        transition: border-color 220ms, background-color 220ms, color 220ms;
        &:first-child {
            border-left: 1px solid #444;
            &.self-tabs__title--active {
                border-color: $accent-color;
            }
        }
        &:last-child {
            border-right: 1px solid #444;
            &.self-tabs__title--active {
                border-color: $accent-color;
            }
        }
        &:hover, &:focus {
            background-color: $accent-color;
            color: #fff;
            border-color: $accent-color;
        }
        &--active {
            background-color: $accent-color;
            color: #fff;
            border-color: $accent-color;
            &:after {
                content: '';
                display: block;
                width: 0;
                height: 0;
                border-left: 15px solid rgba(0, 0, 0, 0);
                border-right: 15px solid rgba(0, 0, 0, 0);
                border-top: 10px solid $accent-color;
                @include center(true,false);
                bottom: -10px;
            }
        }
        span {
            color: #fff;
            display: inline-block;
            margin: 0 5px;
            font-size: 14px;
            font-weight: 400;
        }
        &--delivery, &--pay {
            position: relative;
            &:before {
                content: '';
                display: inline-block;
                margin-right: 10px;
            }
        }
        &--delivery {
            &:before {
                //@include bg($del-ico);
            }
        }
        &--pay {
            &:before {
                //@include bg($wallet-ico);
            }
        }
    }
    &__content {
        &-box {
            border: 1px solid #444;
            padding: 20px;
        }
        li {
            font-size: 16px;
            line-height: 24px;
            color: $main-color;
        }
    }
    &__list-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__list-feature {
        width: 49%;
        &-item {
            display: flex;
            align-items: center;
            padding: 0 19px;
            &:nth-child(odd) {
                background-color: #f5f5f5;
            }
        }
        &-title {
            display: block;
            width: 50%;
            color: #444;
            font-size: 18px;
            font-weight: 700;
            line-height: 30px;
        }
        &-text {
            color: #444;
            font-size: 18px;
            width: 50%;
            line-height: 30px;
            display: block;
            font-weight: 400;
        }
    }
}

.flex-box-container {
    display: flex;
    flex-wrap: wrap;
}

.box-flex {
    &__inner {
        width: 225px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 25px;
    }
    &__img {
        width: 80px;
        height: 80px;
    }
    &__content {
        width: calc(100% - 80px);
        padding-left: 15px;
        padding-right: 15px;
        &-title {
            display: block;
            color: #464646;
            font-size: 16px;
            font-weight: 400;
            line-height: 18px;
            margin-bottom: 10px;
        }
        &-desc {
            display: block;
            color: #666;
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
        }
    }
}
