mixin registration-page
    +breadcrumbs
    .standard.registration
        .container
            h2.main-title Регистрация
            form.registration__form
                .registration__field
                    label Ваше имя
                    input(type='text' placeholder='Имя' name='name')
                .registration__field
                    label Электронная почта
                    input(type='text' placeholder='E-mail' name='email')
                .registration__field
                    label Придумайте пароль
                    input(type='text' placeholder='Введите пароль' name='password')
                .registration__field.registration__field--half
                    p.registration__note Пароль должен быть от 6 до 18 символов. содержать цифры и заглавные буквы, и не должен совпадать с именем и электронной почтой

                    input(type='submit' value='Зарегистрироваться')
                    p.registration__accept Регистрируясь, вы соглашаетесь с
                        a(href='#')   пользовательским соглашением
