.registration {
    padding: 10px 0 60px 0;
    &__title {
        color: #444;
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
        margin: 0 0 40px 0;
        text-align: center;
    }
    &__form {
        max-width: 750px;
        background-color: #fff;
        margin: 0 auto;
        padding: 48px 66px;
        label {
            color: #444;
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            display: block;
            width: 195px;
            flex: 0 0 auto;
        }
    }
    &__field {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        margin-bottom: 20px;
        &--half {
            width: 420px;
            margin: 0 0 0 auto;
            flex-wrap: wrap;
        }
    }
    input:not([type=submit]) {
        width: 405px;
        height: 40px;
        background-color: #fff;
        font-size: 18px;
        padding: 0 20px;
        border: 1px solid #444;
        font-weight: 400;
        line-height: 24px;
        color: #444;
        @include placeholder {
            color: #808080;
            transition: color 220ms;
        }
        @include placeholder-focus {
            color: transparent;
        }
        &.error {
            border-color: #ff181f;
        }
    }
    input[type=submit] {
        @extend .standard-button;
        width: 292px;
        margin: 20px 0;
        padding: 0;
    }
    &__note {
        width: 340px;
    }
    &__accept {
        width: 230px;
    }
    label.error {
        width: 405px;
        display: block;
        font-size: 12px;
        position: absolute;
        text-align: center;
        bottom: -20px;
        margin: 0;
        right: 0;
        color: #ff181f;
    }
    p {
        color: #444;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        margin: 0;
        a {
            color: $accent-color;
            text-decoration: underline;
        }
    }
}
