#cart {
    .dropdown-menu {
        width: 810px;
        text-align: center;
        background-color: #f5f5f5;
        min-width: 290px;
        padding: 0;
        margin: 0;
        border-radius: 0;
        &__cart-title {
            text-align: left;
            margin: 0;
            background-color: #2783fb;
            color: #fff;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-size: 24px;
            font-weight: 500;
            line-height: 70px;
            padding: 0 30px;
        }
        &__cart-wrap-title {
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #eee;
            background-color: #fff;
            padding: 20px 25px 0;
            &-text {
                color: #444;
                font-size: 18px;
                font-weight: 500;
                line-height: 24px;
                text-align: center;
            }
            &-photo {
                width: 127px;
            }
            &-name {
                width: 180px;
            }
            &-count {
                width: 120px;
            }
            &-total {
                width: 120px;
            }
            &-close {
                width: 40px;
            }
        }
    }
    img {
        margin: 20px auto;
    }
    .popup__subtitle {
        border-bottom: none;
        padding-bottom: 0;
    }
    .continue {
        color: #fff;
        font-size: 18px;
        display: block;
        font-weight: 700;
        line-height: 28px;
        text-decoration: underline;
        &:hover,&:focus {
            text-decoration: none;
        }
    }
    .order {
        @extend .standard-button;
        width: 261px;
        height: 40px;
    }
    .cart__total {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: flex-end;
        &-text {
            color: #444;
            font-size: 24px;
            font-weight: 500;
            line-height: 24px;
            display: block;
        }
    }
    .one-click {
        width: 100%;
        &__input {
            width: 100%;
            flex: 1 1 auto;
        }
        &__button {
            flex: 0 0 auto;
        }
    }
}

#cart {
    .dropdown-menu__cart-wrap {
        padding: 0!important;
        &-content {
            height: 300px;
            overflow-y: auto;
            background-color: #fff;
            padding: 0 25px;
        }
        &-middle {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #fff;
            padding: 10px 25px;
            border-top: 1px solid #eee;
        }
        .promotional {
            width: 350px;
            &__input {
                font-size: 18px;
            }
        }
        &-bottom {
            padding: 15px 25px;
            background-color: #2783fb;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    .popup__title {
        margin-bottom: 20px;
    }
    .fancybox-close-small {
        position: absolute;
        outline: none;
        background-color: transparent;
        border: 1px solid #fff;
        width: 33px;
        height: 33px;
        border-radius: 50%;
        padding: 0;
        transition: border-color 220ms;
        top: 20px;
        right: 20px;
        &:after {
            content: '';
            display: block;
            @include center;
            background-color: transparent;
            @include bg($cart-close);
        }
    }
}

#cart .dropdown-menu {
    min-width: 145px;
    .item-cart {
        padding: 20px 0;
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        margin: 0;
        border-top: 1px solid #eee;
        &:first-child {
            border-top: none;
        }
        &__name {
            width: 315px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            &-img {
                width: 127px;
                height: 127px;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    margin: 0;
                }
            }
            &-title {
                width: calc(100% - 127px);
                padding-left: 15px;
                &-text {
                    color: #444;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 24px;
                    display: block;
                    text-align: left;
                    transition: color 220ms;
                    &:hover {
                        color: $accent-color;
                    }
                }
            }
        }
        &__count {
            width: 110px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__total {
            width: 120px;
            &-text {
                color: #444;
                font-size: 18px;
                font-weight: 400;
                line-height: 24px;
                margin: 0;
                display: block;
            }
        }
        &__close {
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            margin: 0;
            &-button {
                width: 20px;
                height: 20px;
                background-color: #444;
                border-radius: 2px;
                position: relative;
                outline: none;
                padding: 0;
                &:after {
                    content: '\f00d';
                    font-family: FontAwesome, sans-serif;
                    display: block;
                    font-size: 16px;
                    line-height: 19px;
                    height: 20px;
                    background-image: none;
                    color: #bfbfbf;
                    border-radius: 2px;
                    transition: color 220ms;
                    @include center;
                }
                &:hover {
                    border-color: $accent-color;
                    &:after {
                        color: $accent-color;
                    }
                }
            }
        }
    }
}
