mixin popup-cart
    ul.dropdown-menu.pull-right
        button.fancybox-close-small
        h2.dropdown-menu__cart-title Корзина
        li
            .dropdown-menu__cart-wrap
                .dropdown-menu__cart-wrap-title
                    span.dropdown-menu__cart-wrap-title-text.dropdown-menu__cart-wrap-title-photo Фото
                    span.dropdown-menu__cart-wrap-title-text.dropdown-menu__cart-wrap-title-name Название
                    span.dropdown-menu__cart-wrap-title-text.dropdown-menu__cart-wrap-title-total Цена
                    span.dropdown-menu__cart-wrap-title-text.dropdown-menu__cart-wrap-title-count Колличество
                    span.dropdown-menu__cart-wrap-title-text.dropdown-menu__cart-wrap-title-total Сумма
                    span.dropdown-menu__cart-wrap-title-text.dropdown-menu__cart-wrap-title-close
                .dropdown-menu__cart-wrap-content
                    mixin item-cart(title, cost, totalCost)
                        .item-cart
                            .item-cart__name
                                .item-cart__name-img
                                    a(href='#')
                                        img(src='static/img/content/c-1.png')
                                .item-cart__name-title
                                    a(href='#')
                                        span.item-cart__name-title-text= title
                            .item-cart__total
                                span.item-cart__total-text= cost
                            .item-cart__count
                                +count
                            .item-cart__total
                                span.item-cart__total-text= totalCost
                            .item-cart__close
                                button.item-cart__close-button
                    +item-cart('Очень длинное название и пример длинного заголовка', '157 000 грн', '126 000 грн')
                    +item-cart('Очень длинное название и пример длинного заголовка', '156 700 грн', '136 000 грн')
                .dropdown-menu__cart-wrap-middle
                    .promotional
                        .promotional__inner
                            input.promotional__input(type='text' placeholder='Введите промокод')
                            button.promotional__btn(type='button') Ok
                    .cart__total
                        span.cart__total-text Сумма:
                            span.cart__total-count  344 500 грн
                .dropdown-menu__cart-wrap-bottom
                    span.continue-wrap
                        a.continue(href='#') Продолжить покупку
                    a.order(href='#') Оформить заказ
