.product-container {
    padding: 15px;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    .product__option, .product__cost-select {
        width: 260px;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .select2-container {
            width: 195px !important;
            height: 30px;
        }
        .select2-container .select2-selection--single {
            width: 195px;
            border-radius: 0;
            height: 30px;
        }
        .select2-selection__arrow {
            width: 30px;
            height: 30px;
            top: 0;
            right: 0;
            background-color: #444;
            b {
                border-color: #fff transparent transparent transparent;
                border-style: solid;
                border-width: 8px 6px 0 6px;
                @include center;
                margin: 0;
            }
        }
        .select2-container--open .select2-selection__arrow b {
            border-color: transparent transparent #fff transparent;
            border-style: solid;
            border-width: 0 6px 8px 6px;
            @include center;
            margin: 0;
        }
    }
    .product__cost {
        display: block;
        margin-bottom: 20px;
        &-flex {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
        .product__cost-title {
            color: #444;
            font-size: 18px;
            font-weight: 400;
            margin: 0 0 5px 0;
        }
        .product__cost-price--old {
            color: #808080;
            font-size: 16px;
            margin-right: 5px;
            font-weight: 500;
        }
        .product__cost-price--new {
            color: #444;
            font-size: 18px;
            font-weight: 700;
        }
    }
    .product__buy {
        @extend .standard-button;
        width: 165px;
        height: 50px;
        line-height: 50px;
        margin: 20px auto 0;
    }
}

.product-slider {
    width: 385px;
    height: 300px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    &:hover {
        .swiper-button {
            &-prev, &-next {
                opacity: 1;
            }
        }
    }
}
.top-gallery {
    width: 300px;
    height: 300px;
    position: relative;
    a {
        display: block;
    }
    .swiper {
        &-slide {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &-button {
            &-wrap {
                position: relative;
                width: 90px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 50px;
            }
            &-prev,&-next {
                margin: 0;
                background: transparent none;
                width: 25px;
                height: 41px;
                top: 50%;
                transform: translateY(-50%) scale(.8);
                opacity: 0;
                transition: opacity 220ms;
                &:after {
                    content: '';
                    display: block;
                    @include center;
                }
            }
            &-prev {
                &:after {
                    @include bg($arrow-left-black);
                }
            }
            &-next {
                &:after {
                    @include bg($arrow-right-black);
                }
            }
        }
    }
}
.thumb-gallery {
    order: -1;
    height: 300px;
    width: 68px;
    .swiper-slide {
        img {
            width: 68px;
            height: 68px;
        }
    }
}

.product-inner {
    display: flex;
    flex-wrap: wrap;
    width: 680px;
    margin-right: 30px;
}

.product-content {
    display: flex;
    flex-wrap: wrap;
    &__left {
        width: 292px;
        flex: 0 0 auto;
    }
    &__right {
        flex: 0 0 auto;
        width: 292px;
        border: 1px solid #808080;
        padding: 20px;
    }
    &__title {
        margin: 0 0 15px 0;
        color: #444;
        width: 100%;
        font-size: 36px;
        text-align: center;
        font-weight: 500;
        line-height: 36px;
    }
    &__available {
        height: 30px;
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        line-height: 30px;
        width: 140px;
        margin-bottom: 15px;
        &-yes {
            background-color: #42b23a;
        }
        &-no {
            background-color: #b22c1f;
        }
    }
    &__line {
        display: flex;
        align-items: center;
        &-title {
            color: #444;
            font-size: 18px;
            font-weight: 700;
            line-height: 24px;
        }
    }
    &__text {
        font-size: 16px;
        color: #444;
        line-height: 24px;
        font-weight: 400;
        &--underline {
            font-weight: 500;
            text-decoration: underline;
        }
        &--title {
            margin-right: 5px;
        }
    }
    &__form {
        .one-click {
            margin-top: 15px;
            width: 252px;
            display: block;
            &__input {
                font-size: 18px;
                font-weight: 500;
                line-height: 24px;
                text-align: center;
                color: #fff;
                @include placeholder {
                    color: #bfbfbf;
                    transition: color 220ms;
                }
                @include placeholder-focus {
                    color: transparent;
                }
            }
            &__button {
                color: #fff;
                font-size: 18px;
                font-weight: 700;
                line-height: 24px;
                width: 100%;
            }
        }
    }
    &__count {
        margin: 20px 0;
    }
    &__total {
        color: #444;
        font-size: 24px;
        font-weight: 500;
        line-height: 24px;
        margin-right: 5px;
        &-cost {
            color: #444;
            font-size: 24px;
            line-height: 24px;
            font-weight: 400;
        }
    }
    &__desc {
        margin: 50px 0 0 0;
        color: #444;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
    }
}
.product-specification {
    background-color: #fff;
    padding: 0 15px 15px 15px;
    &__title {
        color: #444;
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
        margin: 0 0 20px 0;
    }
    &__inner {
        border: 1px solid #808080;
        max-width: 845px;
        padding: 15px;
    }
    &__field {
        display: flex;
        margin-bottom: 15px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    .product-specification__line--title {
        margin-right: 20px;
    }
    &__line {
        width: 410px;
        &--title {
            width: 230px;
            margin-right: 40px;
            flex: 0 0 auto;
        }
    }
    &__name {
        color: #444;
        font-size: 18px;
        font-weight: 500;
        display: block;
        line-height: 24px;
    }
    &__prop {
        color: #444;
        font-size: 18px;
        display: block;
        line-height: 24px;
        font-weight: 400;
    }
}

.popular-title {
    color: #444;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    margin: 0 0 25px 0;
    line-height: 36px;
}
