mixin product-page
    +breadcrumbs
    .standard
        .container
            .product-container
                h2.product-content__title Эмаль Delfi, алкидная ПФ-266 для пола
                .product-inner
                    .product-slider
                        .swiper-container.top-gallery
                            .swiper-wrapper
                                .swiper-slide
                                    a(href='static/img/content/pm-1.png' data-fancybox="images")
                                        img(src='static/img/content/pm-1.png')
                                .swiper-slide
                                    a(href='static/img/content/pm-1.png' data-fancybox="images")
                                        img(src='static/img/content/pm-1.png')
                                .swiper-slide
                                    a(href='static/img/content/pm-1.png' data-fancybox="images")
                                        img(src='static/img/content/pm-1.png')
                                .swiper-slide
                                    a(href='static/img/content/pm-1.png' data-fancybox="images")
                                        img(src='static/img/content/pm-1.png')
                            .swiper-button-prev
                            .swiper-button-next
                        .swiper-container.thumb-gallery
                            .swiper-wrapper
                                .swiper-slide
                                    img(src='static/img/content/pt-1.png')
                                .swiper-slide
                                    img(src='static/img/content/pt-2.png')
                                .swiper-slide
                                    img(src='static/img/content/pt-3.png')
                                .swiper-slide
                                    img(src='static/img/content/pt-4.png')

                    .product-content__left
                        span.product-content__available.product-content__available-yes В наличии
                        span.product-content__available.product-content__available-no Нет в наличии
                        .product-content__line
                            span.product-content__text.product-content__text--title Артикул:
                            span.product-content__text 07301
                        .product-content__line
                            span.product-content__text.product-content__text--title Производитель:
                            span.product-content__text.product-content__text--underline Delfi
                        .product-content__line
                            .product__option
                                span.product__option-title Цвет:
                                select.product__select
                                    option(value='1') Желтый
                                    option(value='2') Красный
                                    option(value='3') Синий
                        .product-content__line
                            .product__option
                                span.product__option-title Тара:
                                select.product__select
                                    option(value='1') 2 литра
                                    option(value='2') 5 литров
                                    option(value='3') 10 литров
                    p.product-content__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.
                .product-content__right
                    .product__cost
                        p.product__cost-title Розница:
                        .product__cost-flex
                            strike.product__cost-price.product__cost-price--old 1000 грн
                            span.product__cost-price.product__cost-price--new 500 грн
                    .product__cost-select
                        select.product__select.product__select--partners
                            option
                            option от 150 шт. - 200 грн
                            option от 150 шт. - 200 грн
                            option от 200 шт. - 100 грн
                    .product__cost-select
                        select.product__select.product__select--wholesale
                            option
                            option от 150 шт. - 200 грн
                            option от 150 шт. - 200 грн
                            option от 200 шт. - 100 грн
                    .product-content__count
                        +count
                    .product-content__line
                        span.product-content__total Итого:
                        span.product-content__total-cost 1000 грн
                    button.product__buy Купить
                    .product-content__form
                        +one-click({
                            id: 'product',
                            name: 'Купить в 1 клик'
                        })
            .product-specification
                h2.product-specification__title Характеристики
                .product-specification__inner
                    mixin prod-spec(data)
                        .product-specification__field
                            .product-specification__line.product-specification__line--title
                                span.product-specification__name= data.name
                            .product-specification__line
                                span.product-specification__prop= data.prop
                    +prod-spec({
                        name: 'Состав',
                        prop: 'Постоянный'
                    })
                    +prod-spec({
                        name: 'Время высыхания',
                        prop: 'Есть'
                    })
                    +prod-spec({
                        name: 'Параметр',
                        prop: 'Параметр-1'
                    })
                    +prod-spec({
                        name: 'Длинный параметр',
                        prop: 'Длинное значение параметра характеристики'
                    })
                    +prod-spec({
                        name: 'Очень длинный параметр, который будет в две или более строки',
                        prop: 'Очень длинный параметр, который будет в две или более строки — очень длинный параметр'
                    })

    section.slider-product--popular
        .container
            h2.popular-title С этим товаром часто покупают
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        +small-product({
                            src: '1',
                            caption: 'Эмаль Delfi, алкидная ПФ-266 для пола и название товара в две строки',
                            oldcost: '2000 грн.',
                            newcost: '1000 грн.'
                        })
                    .swiper-slide
                        +small-product({
                            src: '2',
                            caption: 'Эмаль Delfi, алкидная ПФ-266 для пола и название товара в две строки',
                            oldcost: '3000 грн.',
                            newcost: '2000 грн.'
                        })
                    .swiper-slide
                        +small-product({
                            src: '1',
                            caption: 'Эмаль Delfi, алкидная ПФ-266 для пола и название товара в две строки',
                            oldcost: '2000 грн.',
                            newcost: '1000 грн.'
                        })
                    .swiper-slide
                        +small-product({
                            src: '2',
                            caption: 'Эмаль Delfi, алкидная ПФ-266 для пола и название товара в две строки',
                            oldcost: '3000 грн.',
                            newcost: '2000 грн.'
                        })
                    .swiper-slide
                        +small-product({
                            src: '1',
                            caption: 'Эмаль Delfi, алкидная ПФ-266 для пола и название товара в две строки',
                            oldcost: '2000 грн.',
                            newcost: '1000 грн.'
                        })
                    .swiper-slide
                        +small-product({
                            src: '2',
                            caption: 'Эмаль Delfi, алкидная ПФ-266 для пола и название товара в две строки',
                            oldcost: '3000 грн.',
                            newcost: '2000 грн.'
                        })
                    .swiper-slide
                        +small-product({
                            src: '1',
                            caption: 'Эмаль Delfi, алкидная ПФ-266 для пола и название товара в две строки',
                            oldcost: '2000 грн.',
                            newcost: '1000 грн.'
                        })
                    .swiper-slide
                        +small-product({
                            src: '2',
                            caption: 'Эмаль Delfi, алкидная ПФ-266 для пола и название товара в две строки',
                            oldcost: '3000 грн.',
                            newcost: '2000 грн.'
                        })
        .swiper-button-prev
        .swiper-button-next
