mixin contacts-page
    +breadcrumbs
    .standard
        .container
            h2.main-title Контакты
            .contacts
                .contacts__inner
                    .contacts__address
                        .contacts__lists
                            ul.contacts__list
                                li.contacts__list-item: a.contacts__list-link.contacts__list-link--loc Запорожье, ул. Уличная, 27
                                li.contacts__list-item: a.contacts__list-link.contacts__list-link--mail(href='#') example@gmail.com
                                li.contacts__list-item: a.contacts__list-link.contacts__list-link--time Пн - Вс, с 8:00 до 20:00
                            ul.contacts__list
                                li.contacts__list-item: a.contacts__list-link.contacts__list-link--phone(href='tel:0630000000') +38 (063) 000-00-00
                                li.contacts__list-item: a.contacts__list-link.contacts__list-link--phone(href='tel:0630000000') +38 (063) 000-00-00
                                li.contacts__list-item: a.contacts__list-link.contacts__list-link--phone(href='tel:0630000000') +38 (063) 000-00-00
                        form.advertising__form#contacts-form
                            .advertising__field
                                input.advertising__input(type='text' placeholder='Имя' name='name')
                            .advertising__field
                                input.advertising__input(type='text' placeholder='Телефон' name='phone')
                            .advertising__field
                                input.advertising__input(type='text' placeholder='E-mail' name='email')
                            .advertising__field
                                textarea.advertising__input.advertising__input--textarea(placeholder='Оставьте сообщение...' name='area')
                            .advertising__field
                                input.advertising__submit(type='submit' value='Отправить')
                    .contacts__map
                        iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d10712.824117594333!2d35.12194055!3d47.835601849999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1498207370758"  frameborder="0" style="border: 2px solid #bfbfbf" allowfullscreen)
