// contacts-page
// ==================================================

.contacts {
    &__inner {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    &__address {
        padding: 40px 65px;
        width: 100%;
        flex: 1 1 auto;
        margin-right: 30px;
        background: transparent url(../../static/img/content/contacts-bg.png) no-repeat center / cover;
    }
    &__map {
        flex: 0 0 auto;
        iframe {
            width: 455px;
            height: 557px;
        }
    }
    &__lists {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    &__list {
        &-item {
            margin-bottom: 15px;
        }
        &-link {
            position: relative;
            padding-left: 25px;
            color: #444;
            font-size: 18px;
            font-weight: 400;
            display: inline-block;
            line-height: 24px;
            transition: color 220ms;
            &:hover,&:focus {
                color: $accent-color;
            }
            &:after {
                content: '';
                display: block;
                @include center(false,true);
                left: 0;
            }
            &--loc {
                pointer-events: none;
                &:after {
                    @include bg($loc);
                }
            }
            &--mail {
                &:after {
                    @include bg($mail);
                }
            }
            &--time {
                pointer-events: none;
                &:after {
                    @include bg($clock);
                }
            }
            &--phone {
                &:after {
                    @include bg($phone);
                }
            }
        }
    }
    .advertising__form {
        label.error {
            position: absolute;
            bottom: -18px;
            text-align: center;
            width: 100%;
            margin: 0;
            display: block;
            color: #ff181f;
        }
    }
}
