.order-complete {
    max-width: 528px;
    background-color: #fff;
    padding: 20px;
    h2 {
        color: #444;
        font-size: 36px;
        font-weight: 500;
        margin: 0 0 15px 0;
    }
    p {
        color: #444;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        a {
            font-weight: 700;
            display: inline-block;
            margin-left: 7px;
            &:hover, &:focus {
                text-decoration: underline;
            }
        }
    }
    .standard-button {
        @extend .standard-button;
        width: 263px;
        margin-top: 15px;
    }
}
