mixin order-complete-page
    +breadcrumbs
    section.standard
        .container
            .order-complete
                h2 Заказ успешно оформлен!
                p Мы получили Ваш заказ и отправили письмо с информацией о заказе на указанный Вами E-mail адрес.
                p Есть вопросы? Мы с удовольствием ответим!
                    br
                    |Звоните по телефону
                    a(href='tel:+38063444444') +38 (063) 444 44 44
                a(href='#').standard-button Вернуться в магазин
