/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .navigation__menu {
        max-width: 500px;
    }
    .navigation__menu-list a {
        font-size: 18px;
    }
    .header__description-text {
        font-size: 26px;
    }
    .header__logo {
        width: 235px;
    }
    .header__cart {
        margin-bottom: 15px;
    }
    .header__inner {
        padding: 20px 0;
    }
    .header__cart-inner {
        font-size: 18px;
    }
    .header__login-link {
        font-size: 18px;
    }
    .header__menu-item--dropdown {
        width: 50%;
    }
    .header__menu-link--second {
        font-size: 16px;
        line-height: 24px;
    }
    .footer__list-link, .footer__list-item {
        font-size: 16px;
    }
    .footer__column {
        margin-right: 30px;
    }
    .footer__bottom-text span {
        font-size: 16px;
    }
    .our-partners__slider .swiper-container {
        max-width: 940px;
    }
    .our-partners__slider .swiper-slide img {
        transform: scale(.7);
    }
    .top-slider__offer {
        height: 40px;
        width: 250px;
        font-size: 22px;
        line-height: 40px;
        margin: 0 auto 25px;
    }
    .top-slider {
        position: relative;
        margin-bottom: 25px;
    }
    .top-slider__img {
        display: none;
    }
    .top-slider__content {
        text-align: center;
    }
    .top-slider__title {
        font-size: 22px;
    }
    .top-slider__buttons-buy {
        height: 40px;
        line-height: 40px;
        width: 150px;
        font-size: 16px;
    }
    .top-slider__cost-new {
        font-size: 30px;
    }
    .top-slider__cost-old {
        font-size: 16px;
    }
    .front-slider__wrap {
        display: flex;
        align-items: center;
    }
    .top-slider__buttons {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .order-complete h2 {
        font-size: 30px;
    }
    .order-complete p {
        font-size: 16px;
        line-height: 24px;
    }
    .standard-button {
        width: 220px;
        height: 40px;
        font-size: 16px;
        line-height: 34px;
    }
    .article {
        width: 33.33%;
    }
    .article__img {
        margin-bottom: 10px;
    }
    .article__data {
        margin-bottom: 10px;
    }
    .main-title {
        font-size: 34px;
    }
    .header__search-input {
        height: 40px;
    }
    .header__catalog-btn {
        width: 100%;
    }
    .product--catalog .product__content {
        flex-wrap: wrap;
    }
    .product--catalog .product__cost {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-top: 15px;
    }
    .product--catalog .product__cost-title {
        width: 100%;
    }
    .product__cost-select {
        width: 100%;
    }
    .product__buy {
        margin: 20px auto 0;
    }
    .product--catalog .product__left {
        padding-right: 0;
        width: 100%;
    }
    .top-gallery img {
        width: 200px;
        height: 200px;
    }
    .product-slider {
        width: 300px;
    }
    .top-gallery {
        width: 230px;
    }
    .product-content__left {
        width: 270px;
    }
    .product-inner {
        width: 598px;
        margin-right: 20px;
    }
    .product-content__desc {
        font-size: 16px;
        line-height: 24px;
        margin-top: 30px;
    }
    .product-specification__inner {
        width: 100%;
        max-width: 100%;
    }
    .product-content__title {
        font-size: 32px;
    }
    .thumb-gallery .swiper-slide img {
        width: 65px;
        height: 65px;
    }
    .small-product__buy {
        width: 140px;
    }
    .standard__float {
        img {
            max-width: 350px;
        }
        p {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 15px;
        }
        h1 {
            font-size: 30px;
        }
    }
    .cart-blocks {
        width: 350px;
    }
    .cart-block__title {
        font-size: 16px;
        padding: 0 15px;
        height: 40px;
        line-height: 40px;
    }
    .cart-tabs__wrap {
        flex-wrap: wrap;
    }
    .cart-tabs__title {
        margin: 0 0 10px 0;
        width: 100%;
        &:first-child {
            margin-right: 0;
        }
    }
    .login-block__field {
        width: 100%;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    .login-block__line {
        flex-wrap: wrap;
    }
    .login-block__btn-submit {
        margin: 0 auto 15px;
    }
    .login-block__reg-link {
        margin: 0 auto;
    }
    .cart-block__left {
        margin-left: 0;
    }
    .contacts__address {
        padding: 30px 20px;
    }
    .contacts__list-link {
        font-size: 16px;
    }
    .contacts__map iframe {
        height: 537px;
    }
    .product__cost-select {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .product--catalog .product__count {
        margin-top: 0;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .navigation__phone {
        min-width: 150px;
    }
    .navigation__phone a {
        font-size: 16px;
        &:after {
            font-size: 16px;
        }
    }
    .navigation__phone-list {
        padding: 15px 10px;
        min-width: 160px;
    }
    .navigation__menu {
        max-width: 450px;
    }
    .navigation__menu-list a {
        font-size: 16px;
    }
    .header__logo {
        width: 180px;
    }
    .header__cart-inner {
        font-size: 16px;
    }
    .header__cart-btn:after {
        transform: translateX(-50%) scale(.8);
    }
    .header__right {
        width: 165px;
    }
    .header__login-link:after {
        transform: translateY(-50%) scale(.8);
    }
    .header__login-link {
        font-size: 16px;
    }
    .header__description-text {
        font-size: 18px;
        line-height: 30px;
    }
    .header__cart {
        margin-bottom: 5px;
    }
    .header__inner {
        padding: 15px 0;
    }
    .header__catalog-btn {
        height: 40px;
        line-height: 40px;
        padding-left: 25px;
    }
    .hamburger {
        left: 15px;
        height: 28px;
    }
    .header__search-btn {
        height: 40px;
        line-height: 40px;
    }
    .header__menu-link {
        font-size: 16px;
        line-height: 30px;
    }
    .header__catalog {
        width: 250px;
    }
    .header__menu--dropdown {
        padding: 15px;
    }
    .header__menu-item--dropdown {
        padding: 0 10px;
    }
    .header__menu-link--second {
        font-size: 14px;
    }
    .footer__inner {
        flex-wrap: wrap;
    }
    .footer__column {
        max-width: none;
        min-width: 230px;
        margin-bottom: 20px;
        margin-right: 0;
    }
    .front-slider__wrap {
        padding: 15px;
    }
    .front-slider__wrap .swiper-button-next {
        right: 15px;
    }
    .front-slider__wrap .swiper-button-prev {
        left: 15px;
    }
    .front-slider__wrap .swiper-button-prev, .front-slider__wrap .swiper-button-next {
        width: 29px;
        height: 28px;
        &:after {
            transform: translate(-50%, -50%) scale(.6);
        }
    }
    .top-slider {
        margin-bottom: 40px;
    }
    .top-slider__product {
        padding: 0 33px;
    }
    .top-slider__offer {
        margin: 0 auto 15px;
    }
    .top-slider__title {
        font-size: 18px;
        line-height: 26px;
    }
    .top-slider__offer {
        font-size: 18px;
        width: 220px;
    }
    .slider-title {
        height: 50px;
        line-height: 50px;
    }
    .slider-title__text {
        font-size: 26px;
        line-height: 50px;
    }
    .article__layout {
        width: 220px;
    }
    .article__img {
        img {
            width: 220px;
            height: 147px;
        }
    }
    .article__data span {
        font-size: 16px;
    }
    .article__content p {
        font-size: 16px;
        line-height: 24px;
    }
    .main-title {
        font-size: 30px;
    }
    .header__search-btn {
        width: 150px;
    }
    .inner-box__aside {
        display: none;
    }
    .sales-product {
        display: none;
    }
    .catalog__wrap {
        flex-wrap: wrap;
    }
    .aside-mobile-btn {
        display: flex;
        margin: 0 auto 30px;
        width: 290px;
    }
    .title-line__text {
        text-align: center;
    }
    .aside-wrap {
        width: 100%;
    }
    .inner-box__aside {
        width: 290px;
        margin: 0 auto 30px;
    }
    .aside__title {
        width: 290px;
    }
    .acc__layout.acc__layout--active {
        .acc__title {
            &:after {
                border-width: 0 5px 6px 5px;
            }
        }
    }
    .acc__title {
        height: 40px;
        padding: 0 20px;
        &:after {
            right: 20px;
            border-width: 6px 5px 0 5px;
        }
        span {
            line-height: 40px;
            font-size: 16px;
        }
    }
    .acc__content {
        padding: 20px 15px;
        p {
            font-size: 16px;
            line-height: 24px;
        }
    }
    .h-tabs__inner {
        flex-wrap: wrap;
    }
    .h-tabs__wrap {
        width: 100%;
    }
    .h-tabs__title {
        width: 100%;
    }
    .h-tabs__content {
        padding: 20px;
    }
    .h-tabs__content p {
        font-size: 16px;
        line-height: 24px;
    }
    .product-inner {
        width: 100%;
        margin-right: 0;
    }
    .product-content__desc {
        margin-bottom: 20px;
    }
    .product-content__right {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .product-container .product-content__right .product__option,
    .product-container .product-content__right .product__cost-select {
        margin-top: 0;
    }
    .product-content__count {
        margin: 0;
    }
    .product-content__right .product-content__line {
        width: 100%;
        margin: 20px 0 0 0;
        justify-content: center;
    }
    .product-content__form {
        width: 100%;
    }
    .product-content__form .one-click {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .product-container .product__cost {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .product-container .product__cost .product__cost-title {
        margin-right: 10px;
    }
    .product-specification__name {
        font-size: 16px;
    }
    .product-specification__prop {
        font-size: 16px;
    }
    .product-content__title {
        font-size: 30px;
    }
    .small-product__buy {
        width: 140px;
    }
    .registration__field--half {
        width: 390px;
    }
    .standard__float {
        img {
            float: none;
            max-width: none;
            margin: 0 auto 20px auto;
            text-align: center;
            display: block;
        }
        h1 {
            font-size: 28px;
            text-align: center;
        }
    }
    .cart-page__inner {
        flex-wrap: wrap;
    }
    .cart-content {
        order: -1;
        width: 100%;
        margin-bottom: 20px;
    }
    .cart-blocks {
        width: 100%;
        margin-right: 0;
        display: flex;
        justify-content: space-between;
    }
    .cart-block {
        width: 49%;
    }
    #cart-submit {
        margin-top: 0;
    }
    .advertising {
        padding: 30px 15px;
        p {
            font-size: 16px;
            line-height: 24px;
        }
    }
    .advertising h3 {
        font-size: 20px;
        margin: 20px 0;
    }
    .contacts__inner {
        flex-wrap: wrap;
    }
    .contacts__address {
        margin-right: 0;
    }
    .contacts__map {
        margin-top: 30px;
        width: 100%;
    }
    .contacts__lists {
        justify-content: center;
    }
    .contacts__list {
        margin: 0 10px;
    }
    .contacts__map iframe {
        width: 100%;
        height: 300px;
    }
    #cart .dropdown-menu {
        width: 650px;
        right: 20px;
    }
    #cart .dropdown-menu {
        width: 100%;
        left: 0;
        top: 60px;
        right: auto;
    }
    .header__cart {
        position: static;
    }
    .header {
        position: relative;
    }
    .top-slider {
        padding: 0;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .header__menu {
        position: fixed;
        height: 100vh;
        top: 0;
        left: 0;
        width: 280px;
        z-index: 99;
        transition: transform 300ms;
        overflow-y: auto;
        transform: translateX(-280px);
        background-color: #f8f8f8;
        display: block;
        padding-right: 20px;
        &.is-active {
            transform: translateX(0);
        }
        &--sub {
            position: relative;
            display: none;
            width: 100%;
            top: 0;
            padding: 0;
            left: 0;
            box-shadow: none;
            background-color: #f8f8f8;
        }
    }

    .hamburger {
        position: fixed;
        top: 5px;
        left: 5px;
        transform: none;
        padding: 5px;
        background-color: rgba(0,0,0,.3);
        height: 33px;
        z-index: 99;
        pointer-events: auto;
        &-box {
            width: 35px;
        }
        &.is-active {
            z-index: -2;
        }
    }
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
        width: 35px;
        height: 3px;
    }
    .hamburger-inner::before {
        top: -8px;
    }
    .hamburger--emphatic .hamburger-inner::after {
        top: 8px;
    }
    .header__menu-item {
        position: relative;
        border-bottom: 1px solid $border-color;
        padding: 0;
        &:hover,&:focus {
            background-color: #f8f8f8;
            .header__menu-link {
                color: #444;
            }
        }
    }
    .header__menu-link {
        font-size: 14px;
        line-height: 20px;
        text-align: left;
        padding: 10px 20px 10px 10px;
        -webkit-transition: color 220ms;
        transition: color 220ms;
        font-weight: 700;
    }
    .header__menu-arrow {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        display: block;
        width: 40px;
        height: 40px;
        text-align: center;
        color: #a7a8aa;
        cursor: pointer;
        line-height: 40px;
        &:after {
            content: '\f105';
            font-family: FontAwesome,sans-serif;
            display: block;
            @include center;
            font-size: 20px;
            font-weight: 400;
        }
        &:before {
            content: '';
            height: 25px;
            width: 40px;
            display: block;
            @include center;
            background-color: transparent;
            border-right: 1px solid $border-color;
            border-left: 1px solid $border-color;
        }
    }
    .header__menu-link--second {
        padding: 5px 10px 5px 20px;
        display: block;
        position: relative;
        border: none;
        line-height: 20px;
        font-weight: 400;
        font-size: 13px;
        margin: 0;
        color: #444;
        -webkit-transition: color 220ms;
        transition: color 220ms;
    }
    .header__menu-item--dropdown {
        width: 100%;
        padding: 0;
        margin-bottom: 0;
    }
    .header__menu-item-children.open .header__menu-arrow:after {
        content: '\f107';
        color: #ff9000;
    }
    .navigation__menu {
        display: none;
    }
    .header__catalog-btn {
        padding-left: 0;
    }
    .navigation__phone {
        margin: 0 auto;
    }
    .header__catalog {
        display: none;
    }
    .header__search-input {
        border-left: 1px solid $accent-color;
    }
    .header__description-text {
        display: none;
    }
    .header__right {
        width: 320px;
        &-inner {
            display: flex;
            align-items: center;
        }
    }
    .header__cart {
        margin-bottom: 0;
    }
    .navigation__phone-list li:first-child a {
        margin-bottom: 10px;
    }
    .footer__column-title {
        margin-bottom: 15px;
    }
    .footer__inner {
        justify-content: center;
    }
    .footer__column {
        text-align: center;
    }
    .footer__bottom-inner {
        flex-wrap: wrap;
    }
    .footer__bottom-text {
        text-align: center;
    }
    .footer__bottom-copyright {
        margin-bottom: 10px;
    }
    .footer__bottom {
        padding: 20px 0;
    }
    .top-slider {
        margin-bottom: 0;
    }
    .front-slider__wrap {
        padding: 30px 15px 60px 15px;
    }
    .slider-title {
        height: 40px;
    }
    .slider-title__text {
        font-size: 20px;
        line-height: 40px;
        padding: 0 20px;
    }
    .slider-product .swiper-button-next, .slider-product .swiper-button-prev {
        width: 17px;
        height: 29px;
        &:after {
            transform: translate(-50%, -50%) scale(.7);
        }
    }
    .slider-product .swiper-button-next {
        right: 5px;
    }
    .slider-product .swiper-button-prev {
        left: 5px;
    }
    .our-partners__slider .swiper-button-prev, .our-partners__slider .swiper-button-next {
        width: 17px;
        height: 29px;
        &:after {
            transform: translate(-50%, -50%) scale(.7);
        }
    }
    .our-partners__slider .swiper-button-next {
        right: 5px;
    }
    .our-partners__slider .swiper-button-prev {
        left: 5px;
    }
    body.common-home .header__menu,
    body.common-home-0 .header__menu,
    body.common-home-1 .header__menu,
    body.common-home-2 .header__menu,
    body.common-home-3 .header__menu {
        position: fixed;
    }
    .order-complete h2 {
        font-size: 26px;
    }
    .order-complete p {
        font-size: 14px;
        line-height: 22px;
    }
    .standard-button {
        width: 200px;
        height: 35px;
        font-size: 16px;
        line-height: 34px;
    }
    .standard {
        padding: 0 0 40px 0;
    }
    .article {
        width: 50%;
    }
    .article__layout {
        width: 250px;
    }
    .article__img img {
        width: 250px;
        height: 167px;
    }
    .article__data span {
        font-size: 14px;
    }
    .article__content p {
        font-size: 14px;
        line-height: 22px;
    }
    .main-title {
        font-size: 28px;
    }
    .breadcrumbs a {
        font-size: 14px;
    }
    .breadcrumbs a:after {
        font-size: 14px;
    }
    .breadcrumbs {
        padding: 20px 0;
    }
    .header__search-input {
        height: 35px;
        line-height: 34px;
    }
    .product--catalog .product__options {
        flex-wrap: wrap;
    }
    .product__option {
        margin-right: 10px;
    }
    .product--catalog .product__img {
        width: 180px;
        height: 180px;
    }
    .acc__content {
        padding: 10px;
        p {
            font-size: 14px;
            line-height: 22px;
        }
    }
    .acc__title {
        height: 35px;
        span {
            line-height: 34px;
        }
    }
    .h-tabs__title {
        font-size: 16px;
    }
    .h-tabs__content {
        padding: 15px;
    }
    .h-tabs__content p {
        font-size: 14px;
        line-height: 22px;
    }
    .product-slider {
        margin: 0 auto 20px;
    }
    .product-slider .swiper-button-prev, .product-slider .swiper-button-next {
        opacity: 1;
    }
    .product-slider {
        height: 230px;
    }
    .top-gallery {
        height: 230px;
    }
    .thumb-gallery {
        height: 225px;
    }
    .product-container .product-content__right .product__option,
    .product-container .product-content__right .product__cost-select {
        justify-content: center;
    }
    .product-content__count {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .product-content__left {
        margin: 0 auto;
    }
    .product-content__title {
        font-size: 28px;
    }
    .small-product__buy {
        width: 140px;
    }
    .popular-title {
        font-size: 30px;
        line-height: 30px;
    }
    .registration__field--half {
        width: 100%;
    }
    .registration__note {
        width: 100%;
    }
    .registration__accept {
        width: 100%;
        text-align: center;
    }
    .registration input[type=submit] {
        margin: 20px auto;
    }
    .registration__form {
        padding: 30px 20px;
    }
    .cart-blocks {
        flex-wrap: wrap;
    }
    .cart-block {
        width: 100%;
    }
    .login-block__btn-submit {
        margin-bottom: 0;
    }
    #cart .dropdown-menu__cart-title {
        height: 40px;
        line-height: 40px;
        font-size: 18px;
    }
    #cart .fancybox-close-small {
        top: 3px;
    }
    #cart .dropdown-menu__cart-wrap-title {
        display: none;
    }
    #cart .dropdown-menu .item-cart__name {
        width: 100%;
        margin-bottom: 10px;
    }
    #cart .dropdown-menu .item-cart__close {
        position: absolute;
        top: 20px;
        right: 0;
    }
    #cart .dropdown-menu .item-cart__name-title-text {
        font-size: 16px;
    }
    #cart .dropdown-menu__cart-wrap .promotional {
        width: 250px;
    }
    #cart .cart__total-text {
        font-size: 20px;
    }
    #cart .dropdown-menu__cart-wrap .promotional__input {
        font-size: 14px;
    }
    #cart .dropdown-menu .item-cart__name-img {
        width: 100px;
        height: 100px;
    }
    #cart .continue span {
        font-size: 16px;
    }
    #cart .dropdown-menu .item-cart__name-title {
        width: calc(100% - 100px);
    }
    .product--catalog .product__count {
        margin-right: 10px;
    }
    .login-block__btn-submit--long {
        max-width: 250px;
        margin: 0 auto;
        display: block;
    }
    .product--catalog .product__cost-title {
        font-size: 16px;
    }
    .product--catalog .product__cost-text {
        font-size: 16px;
    }
    .product--catalog .product__option-text {
        font-size: 14px;
    }
    .product--catalog .product__option-title {
        font-size: 14px;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 600px) {
    .header__right-inner {
        flex-wrap: wrap;
    }
    .header__right {
        width: 180px;
    }
    .header__inner {
        padding: 10px 0;
    }
    input:not([type=submit]):not([type=radio]):not([type=checkbox]) {
        height: 35px;
    }
    .header__search-input {
        font-size: 14px;
        line-height: 20px;
        padding: 0 10px;
        background-image: none;
    }
    .header__search-btn {
        height: 35px;
        font-size: 16px;
        width: 125px;
        line-height: 34px;
    }
    .header__login-link {
        font-size: 14px;
    }
    .product {
        width: 200px;
    }
    .product__layout {
        border: 1px solid #bfbfbf;
        &:hover {
            border: 1px solid #0084ff;
        }
    }
    .product__img {
        width: 198px;
        height: 198px;
    }
    .product__content {
        padding: 10px;
    }
    .product__caption {
        font-size: 14px;
        line-height: 24px;
    }
    .product__cost-price {
        font-size: 16px;
        line-height: 22px;
    }
    .product__cost-price--old {
        font-size: 13px;
        margin-right: 10px;
    }
    .our-partners__slider {
        margin-bottom: 50px;
    }
    .article__layout {
        width: 210px;
    }
    .article__img img {
        width: 210px;
        height: 140px;
    }
    .main-title {
        font-size: 26px;
    }
    .product--catalog {
        width: 100%;
    }
    .product__desc {
        font-size: 14px;
        line-height: 22px;
    }
    .select2-selection--single {
        font-size: 14px;
    }
    .select2-results__option {
        font-size: 14px;
    }
    .product--catalog .product__cost {
        margin-top: 0;
    }
    .product--catalog .product__caption {
        font-size: 16px;
    }
    .product-container .product-content__right .product__option,
    .product-container .product-content__right .product__cost-select {
        width: 100%;
        margin-bottom: 15px;
    }
    .count__input {
        height: 30px!important;
    }
    .product-content__count {
        margin-top: 0;
    }
    .product-content__form .one-click__button {
        height: 35px;
    }
    .product-container .product__cost {
        justify-content: center;
    }
    .product-specification .product-specification__line--title {
        width: 100%;
        margin-right: 0;
    }
    .product-specification__field {
        flex-wrap: wrap;
        border-bottom: 1px solid #808080;
        &:last-of-type {
            border-bottom: none;
        }
    }
    .product-specification__title {
        text-align: center;
    }
    .product-content__title {
        font-size: 26px;
    }
    .product-specification__prop {
        font-size: 14px;
    }
    .popular-title {
        font-size: 26px;
        line-height: 26px;
    }
    .registration__field {
        flex-wrap: wrap;
    }
    .registration__form label {
        font-size: 16px;
    }
    .registration__accept {
        width: 230px;
    }
    .registration p {
        margin: 0 auto;
        line-height: 22px;
    }
    .registration input:not([type=submit]) {
        font-size: 16px;
    }
    .standard__float {
        padding: 10px;
        img {
            width: 100%;
        }
        h1 {
            font-size: 26px;
            text-align: center;
        }
        p {
            font-size: 14px;
            line-height: 22px;
            margin: 0 0 10px 0;
        }
    }
    .item-cart__layout {
        flex-wrap: wrap;
        position: relative;
    }
    .cart-content .product-content__line {
        justify-content: center;
    }
    .promotional__text {
        text-align: center;
        font-size: 14px;
    }
    .promotional__btn {
        height: 35px;
        font-size: 16px;
        line-height: 34px;
    }
    .item-cart__img {
        margin: 0 auto 15px;
    }
    .item-cart__content {
        padding: 0;
    }
    .item-cart__close {
        width: 30px;
        position: absolute;
        top: 0;
        right: 0;
    }
    .item-cart__name-title-text {
        font-size: 16px;
    }
    .advertising__input {
        font-size: 14px;
        padding: 0 10px;
    }
    .advertising h3 {
        font-size: 18px;
    }
    .contacts__list-link {
        font-size: 14px;
        line-height: 24px;
    }
    .contacts__map iframe {
        height: 200px;
    }
    .contacts__lists {
        flex-wrap: wrap;
    }
    #cart .dropdown-menu .item-cart__count {
        margin-bottom: 0;
    }
    #cart .dropdown-menu .item-cart__name-title-text {
        font-size: 14px;
        line-height: 22px;
    }
    #cart .dropdown-menu__cart-wrap-content {
        height: 175px;
    }
    .promotional__inner {
        width: 100%;
    }
    #cart .dropdown-menu__cart-wrap .promotional {
        width: 100%;
    }
    .item-cart__name-title {
        margin-bottom: 0;
    }
    .product__cost-select {
        flex-wrap: wrap;
        width: 100%;
    }
    .product--catalog .product__count {
        margin-right: 0;
        width: 100%;
        margin-top: 20px;
        justify-content: center;
        .count {
            margin: 0;
        }
    }
    .product__select--wholesale {
        margin: 0 auto;
    }
    .product--catalog .product__cost-inner {
        margin: 10px 0;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .header__search-btn {
        width: 100px;
    }
    .header__logo {
        width: 140px;
    }
    .header__right {
        width: 145px;
    }
    .header__login-link {
        padding-left: 45px;
    }
    .header__login {
        width: 145px;
    }
    .header__cart-text {
        line-height: 22px;
    }
    .header__cart-btn {
        width: 30px;
        height: 30px;
        margin-right: 15px;
    }
    .header__cart-btn:after {
        transform: translateX(-50%) scale(0.6);
    }
    .header__login-link:after {
        transform: translateX(0) translateY(-50%) scale(0.6);
    }
    .header__cart-inner {
        font-size: 14px;
        width: 100px;
    }
    .header__cart {
        min-width: unset;
    }
    .header__cart-total {
        width: 24px;
        height: 24px;
        font-size: 13px;
        line-height: 22px;
    }
    .footer__column-title {
        margin-bottom: 0;
    }
    .footer__list-link, .footer__list-item {
        font-size: 14px;
        line-height: 22px;
    }
    .footer__column-title {
        font-size: 16px;
    }
    .footer__bottom-text span {
        font-size: 13px;
    }
    .footer__bottom-copyright {
        margin-bottom: 0;
    }
    .footer__bottom {
        padding: 10px 0 20px;
    }
    .top-slider__buttons {
        display: block;
    }
    .top-slider__buttons-buy {
        margin: 0 auto 10px;
        height: 35px;
        line-height: 34px;
    }
    .top-slider__product {
        padding: 0 23px;
    }
    .top-slider__buttons-more {
        display: inline-block;
    }
    .front-slider__wrap .swiper-button-prev {
        left: 5px;
    }
    .front-slider__wrap .swiper-button-next {
        right: 5px;
    }
    .top-slider__cost-new {
        font-size: 22px;
    }
    .slider-product {
        text-align: center;
        max-width: 300px;
    }
    .our-partners__slider {
        max-width: 300px;
    }
    .slider-title {
        height: 35px;
        margin-bottom: 15px;
    }
    .slider-title__text {
        font-size: 18px;
        line-height: 34px;
    }
    .our-partners__title {
        font-size: 24px;
        margin-bottom: 15px;
    }
    .our-partners__slider .swiper-container {
        padding: 20px 0;
    }
    .popup {
        width: 320px;
        padding: 40px 10px;
    }
    .popup__title {
        font-size: 16px;
    }
    .popup__label {
        font-size: 14px;
        margin-left: 0;
    }
    .popup__form input:not([type=submit]) {
        height: 35px!important;
        line-height: 34px;
        font-size: 14px;
    }
    .popup__form input[type=submit] {
        height: 35px;
        font-size: 16px;
        line-height: 34px;
        width: 150px;
    }
    .popup__btn-cancel {
        font-size: 16px;
        line-height: 34px;
        height: 35px;
    }
    .popup__reg {
        flex-wrap: wrap;
        justify-content: center;
    }
    .popup__reg-check {
        justify-content: center;
        margin-bottom: 5px;
    }
    .popup__reg-line {
        width: 100%;
    }
    .order-complete h2 {
        font-size: 20px;
    }
    .article {
        width: 100%;
    }
    .article__layout {
        width: 290px;
    }
    .article__img img {
        width: 290px;
        height: 194px;
    }
    .main-title {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .product--catalog .product__layout {
        flex-wrap: wrap;
    }
    .product--catalog .product__img {
        width: 100%;
        text-align: center;
        img {
            width: 180px;
            height: 180px;
        }
    }
    .product--catalog .product__options {
        justify-content: center;
    }
    .product--catalog .product__cost {
        justify-content: center;
    }
    .product--catalog .product__cost-title {
        text-align: center;
    }
    .product__cost-select {
        display: flex;
        justify-content: center;
    }
    .product--catalog .product__option-title {
        text-align: center;
        font-size: 16px;
    }
    .product--catalog .product__content {
        padding: 15px 10px;
    }
    .product__option {
        text-align: center;
        width: 100%;
        margin-right: 0;
    }
    .product--catalog .product__option .select2-container .select2-selection--single {
        text-align: left;
    }
    .title-line__text {
        font-size: 18px;
    }
    .acc__title {
        padding: 0 10px;
        &:after {
            right: 10px;
        }
        span {
            font-size: 15px;
        }
    }
    .acc__content p {
        font-size: 13px;
    }
    .h-tabs__title {
        font-size: 15px;
        height: 35px;
        line-height: 34px;
        padding: 0 10px;
        &--active,&:hover {
            &:after {
                right: 10px;
            }
        }
    }
    .h-tabs__content {
        padding: 10px;
        p {
            font-size: 13px;
        }
    }
    .product-content__title {
        font-size: 18px;
        line-height: 24px;
    }
    .product-container {
        padding: 10px;
    }
    .product-content__available {
        margin: 0 auto 10px;
    }
    .product-content__desc {
        font-size: 14px;
        line-height: 22px;
    }
    .product-content__right {
        padding: 10px;
    }
    .product-container .product__cost {
        display: block;
        text-align: center;
    }
    .product-container .product__cost-flex {
        justify-content: center;
    }
    .product-content__form .one-click {
        flex-wrap: wrap;
        max-width: 250px;
        margin: 15px auto 0;
    }
    .product-specification__title {
        font-size: 18px;
    }
    .product-specification__name {
        font-size: 15px;
        line-height: 22px;
    }
    .product-specification__prop {
        line-height: 22px;
        font-size: 13px;
    }
    .product-specification__field {
        padding-bottom: 5px;
        margin-bottom: 5px;
    }
    .product-slider {
        width: 270px;
        height: auto;
        flex-wrap: wrap;
    }
    .top-gallery img {
        width: 240px;
        height: 240px;
    }
    .top-gallery {
        width: 270px;
        height: 270px;
        order: 1;
    }
    .thumb-gallery {
        margin-top: 5px;
        width: 270px;
        height: 65px;
        order: 2;
    }
    .small-product__layout {
        width: 230px;
    }
    .small-product__img {
        width: 228px;
        height: 228px;
    }
    .small-product__content {
        padding: 10px;
    }
    .popular-title {
        font-size: 20px;
        line-height: 22px;
    }
    .standard__float {
        h1 {
            margin-bottom: 10px;
            font-size: 22px;
        }
    }
    .item-cart__name-title-text {
        text-align: center;
        font-size: 14px;
    }
    .item-cart__prop {
        flex-wrap: wrap;
    }
    .item-cart__count {
        width: 100%;
        justify-content: center;
        margin-bottom: 10px;
    }
    .item-cart__cost {
        width: 100%;
        justify-content: center;
    }
    .item-cart {
        border-bottom: 1px solid #808080;
        padding-bottom: 10px;
    }
    .item-cart__cost-text {
        font-size: 18px;
    }
    .item-cart__cost-text--old {
        font-size: 14px;
    }
    .product-content__total {
        font-size: 20px;
    }
    .product-content__total-cost {
        font-size: 20px;
    }
    .promotional__input {
        padding: 0 10px;
    }
    .cart-block__content {
        padding: 15px;
    }
    .cart-tabs__title {
        font-size: 16px;
    }
    .login-block__label {
        font-size: 16px;
    }
    .login-block__input {
        font-size: 14px;
    }
    .login-block__btn-submit {
        margin-bottom: 15px;
    }
    .cart-block__title {
        font-size: 14px;
    }
    .cart-block__label {
        font-size: 14px;
    }
    .cart-block__number {
        font-size: 14px;
    }
    .cart-block__field {
        margin-bottom: 10px;
    }
    .cart-block__field input {
        padding: 0 10px;
        font-size: 14px;
    }
    .cart-block__radio {
        width: 18px;
        height: 18px;
    }
    .advertising h3 {
        font-size: 16px;
    }
    .advertising {
        padding: 10px;
    }
    .advertising p {
        font-size: 14px;
        line-height: 22px;
    }
    .contacts__address {
        padding: 20px 10px;
    }
    .contacts__list {
        margin: 0;
        width: 250px;
    }
    #cart .dropdown-menu .item-cart__close {
        top: 10px;
    }
    #cart .dropdown-menu__cart-wrap-content {
        padding: 0 10px;
    }
    #cart .dropdown-menu .item-cart__name-title {
        width: 100%;
    }
    #cart .item-cart__name-img {
        margin: 0 auto 10px;
    }
    #cart .dropdown-menu .item-cart__name {
        flex-wrap: wrap;
    }
    #cart .dropdown-menu .item-cart__name-title-text {
        text-align: center;
    }
    #cart .dropdown-menu .item-cart__count {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    #cart .dropdown-menu .item-cart__total {
        width: 100%;
    }
    #cart .dropdown-menu__cart-wrap-middle {
        flex-wrap: wrap;
    }
    #cart .cart__total {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    #cart .cart__total-text {
        font-size: 16px;
    }
    #cart .dropdown-menu__cart-wrap .promotional {
        margin-bottom: 10px;
    }
    #cart .dropdown-menu__cart-wrap-bottom {
        flex-wrap: wrap;
        padding: 10px;
        justify-content: center;
    }
    #cart .continue {
        padding: 0 10px;
    }
    #cart .continue-wrap {
        width: 100%;
        margin-bottom: 10px;
    }
    #cart .dropdown-menu {
        top: 0;
    }
    .order-complete a {
        margin: 0 auto;
    }
    .product--catalog .product__count {
        .count {
            margin: 0 auto;
        }
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

@media only screen and (min-width : 600px) {

}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .aside {
        display: block!important;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

