// header
// ==================================================

//body.common-home,
//body.common-home-0,
//body.common-home-1,
//body.common-home-2,
//body.common-home-3 {
//    .header__catalog-btn {
//        pointer-events: none;
//    }
//    .header__menu {
//        display: block;
//    }
//}

.header {
    background-color: #fff;
    &__inner {
        display: flex;
        align-items: center;
        padding: 35px 0;
    }
    &__logo {
        width: 295px;
        flex: 0 0 auto;
        a {
            display: block;
        }
    }
    &__description {
        flex: 1 1 auto;
        &-text {
            margin: 0;
            font-size: 36px;
            line-height: 42px;
            text-transform: uppercase;
            text-align: center;
        }
    }
    &__right {
        width: 195px;
        flex: 0 0 auto;
    }
    &__cart {
        position: relative;
        min-width: 195px;
        display: flex;
        align-items: center;
        margin-bottom: 27px;
        justify-content: space-between;
        &-btn {
            position: relative;
            border: none;
            outline: none;
            color: $main-color;
            font-size: 16px;
            padding: 0;
            width: 40px;
            margin-right: 20px;
            height: 40px;
            font-weight: 400;
            line-height: 24px;
            background-color: transparent;
            &:after {
                content: '';
                @include bg($cart-icon);
                display: block;
                top: 0;
                @include center(true,false);
            }
        }
        &-total {
            width: 27px;
            height: 27px;
            background-color: #444;
            color: #fff;
            z-index: 3;
            font-size: 15px;
            border-radius: 50%;
            font-weight: 400;
            line-height: 27px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            position: absolute;
            right: -10px;
            top: -5px;
        }
        p {
            margin-bottom: 0;
            text-align: center;
        }
        &-inner {
            display: flex;
            flex-wrap: wrap;
            font-size: 20px;
            font-weight: 500;
        }
        &-text {
            width: 100%;
            line-height: 24px;
            display: block;
        }
        &-count {
            width: 100%;
            display: block;
        }
    }
    &__login {
        width: 195px;
        &-link {
            color: $main-color;
            line-height: 38px;
            padding-left: 50px;
            display: block;
            font-size: 20px;
            font-weight: 500;
            transition: color 220ms;
            position: relative;
            &:after {
                content: '';
                @include bg($user-icon);
                display: block;
                @include center(false,true);
                left: 0;
            }
            &:hover {
                color: $accent-color;
            }
        }
    }
    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__catalog {
        width: 294px;
        position: relative;
        flex: 0 0 auto;
        &-btn {
            @extend .standard-button;
            width: 100%;
            position: relative;
        }
    }
    &__search {
        flex: 1 1 auto;
        &-inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &-input {
            flex: 1 1 auto;
            border: 1px solid $accent-color;
            border-right: none;
            border-left: none;
            height: 47px;
            background: transparent url(../../static/img/content/search-icon.png) no-repeat center left 25px;
            padding: 0 20px 0 50px;
            &:focus {
                background: transparent none;
                padding: 0 20px;
            }
        }
        &-btn {
            @extend .standard-button;
            width: 165px;
            flex: 0 0 auto;
        }
    }
    &__menu {
        width: 100%;
        position: absolute;
        display: none;
        padding: 20px 0 40px;
        background-color: #fafafa;
        z-index: 99;
        &--dropdown {
            position: absolute;
            left: 100%;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #fff;
            display: none;
            box-shadow: 0 2px 7px rgba(0, 0, 0, 0.15);
            flex-wrap: wrap;
            overflow-y: auto;
            padding: 30px;
        }
        &-item {
            width: 100%;
            padding: 0 10px 0 20px;
            transition: background-color 220ms;
            &--active,&:hover {
                background-color: $accent-color;
                .header__menu-link {
                    color: #fff;
                    &:after {
                        color: #fff;
                    }
                }
            }
            &:hover {
                .header__menu--dropdown {
                    display: flex;
                }
            }
            &--dropdown {
                width: 33%;
                padding: 0 5px;
                margin-bottom: 12px;
            }
        }
        &-link {
            font-size: 18px;
            font-weight: 400;
            line-height: 36px;
            display: block;
            position: relative;
            padding-right: 10px;
            &--children {
                &:after {
                    content: '\f054';
                    font-family: FontAwesome, sans-serif;
                    display: block;
                    @include center(false,true);
                    right: 0;
                    color: #444;
                }
            }
            &--second {
                color: #444;
                font-size: 18px;
                font-weight: 400;
                display: block;
                line-height: 36px;
                transition: color 220ms;
                &:hover,&:focus {
                    color: $accent-color;
                }
            }
            &--title {
                font-weight: 500;
                padding-bottom: 5px;
                border-bottom: 1px solid $border-color;
                margin-bottom: 10px;
                display: block;
            }
        }
    }
}


// menu-icon
// ==================================================
.hamburger {
    padding: $hamburger-padding-y $hamburger-padding-x;
    display: block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: $hamburger-hover-transition-duration;
    transition-timing-function: $hamburger-hover-transition-timing-function;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    height: 24px;
    position: absolute;
    pointer-events: none;
    &:hover {
        @if $hamburger-hover-use-filter == true {
            filter: $hamburger-hover-filter;
        }
        @else {
            opacity: $hamburger-hover-opacity;
        }
    }
}
.hamburger-box {
    width: $hamburger-layer-width;
    height: $hamburger-layer-height * 3 + $hamburger-layer-spacing * 2;
    display: inline-block;
    position: relative;
}
.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: $hamburger-layer-height / -2;
    &,
    &::before,
    &::after {
        width: $hamburger-layer-width;
        height: $hamburger-layer-height;
        background-color: $hamburger-layer-color;
        border-radius: $hamburger-layer-border-radius;
        position: absolute;
        transition-property: transform;
        transition-duration: 0.15s;
        transition-timing-function: ease;
    }
    &::before,
    &::after {
        content: "";
        display: block;
    }
    &::before {
        top: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
    }
    &::after {
        bottom: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
    }
}
.hamburger--emphatic {
    overflow: hidden;
    .hamburger-inner {
        transition: background-color 0.125s 0.175s ease-in;
        &::before {
            left: 0;
            transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335),
            top 0.05s 0.125s linear,
            left 0.125s 0.175s ease-in;
        }
        &::after {
            top: ($hamburger-layer-height) + ($hamburger-layer-spacing);
            right: 0;
            transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335),
            top 0.05s 0.125s linear,
            right 0.125s 0.175s ease-in;
        }
    }
}
