mixin header
    header.header
        .container
            .header__inner
                .header__logo
                    a(href='/')
                        img(src='static/img/general/logo.png')
                .header__description
                    h1.header__description-text Комплектация объектов строительства и ремонта
                .header__right
                    .header__right-inner
                        .header__cart#cart
                            button.dropdown-toggle.header__cart-btn(data-toggle='dropdown' type='button')
                                span#cart-total.header__cart-total 99
                            .header__cart-inner
                                span.header__cart-text Корзина:
                                span#cart-count.header__cart-count 126 750.00 грн
                            +popup-cart
                        .header__login
                            a.header__login-link(href='#login') Вход
            .header__bottom
                .header__catalog
                    button.header__catalog-btn Каталог товаров
                        span(class="hamburger hamburger--emphatic")
                            span(class="hamburger-box")
                                span(class="hamburger-inner")
                    ul.header__menu
                        li.header__menu-item
                            a.header__menu-link(href='#') Категория
                            ul.header__menu--dropdown
                                li.header__menu-item--dropdown
                                    a.header__menu-link--second.header__menu-link--title(href='#') Длинная категория
                                    ul.header__menu--second
                                        li.header__menu-item--second
                                            a.header__menu-link--second(href='#') Очень длинная категория
                                        li.header__menu-item--second
                                            a.header__menu-link--second(href='#') Длинная категория
                                        li.header__menu-item--second
                                            a.header__menu-link--second(href='#') Длинная категория
                                        li.header__menu-item--second
                                            a.header__menu-link--second(href='#') Очень длинная категория
                                        li.header__menu-item--second
                                            a.header__menu-link--second(href='#') Длинная категория
                                        li.header__menu-item--second
                                            a.header__menu-link--second(href='#') Длинная категория
                                li.header__menu-item--dropdown
                                    a.header__menu-link--second.header__menu-link--title(href='#') Длинная категория
                                    ul.header__menu--second
                                        li.header__menu-item--second
                                            a.header__menu-link--second(href='#') Очень длинная категория
                                        li.header__menu-item--second
                                            a.header__menu-link--second(href='#') Длинная категория
                                        li.header__menu-item--second
                                            a.header__menu-link--second(href='#') Длинная категория
                                        li.header__menu-item--second
                                            a.header__menu-link--second(href='#') Очень длинная категория
                                        li.header__menu-item--second
                                            a.header__menu-link--second(href='#') Длинная категория
                                        li.header__menu-item--second
                                            a.header__menu-link--second(href='#') Длинная категория
                                li.header__menu-item--dropdown
                                    a.header__menu-link--second.header__menu-link--title(href='#') Длинная категория
                                    ul.header__menu--second
                                        li.header__menu-item--second
                                            a.header__menu-link--second(href='#') Очень длинная категория
                                        li.header__menu-item--second
                                            a.header__menu-link--second(href='#') Длинная категория
                                        li.header__menu-item--second
                                            a.header__menu-link--second(href='#') Длинная категория
                                        li.header__menu-item--second
                                            a.header__menu-link--second(href='#') Очень длинная категория
                                        li.header__menu-item--second
                                            a.header__menu-link--second(href='#') Длинная категория
                                        li.header__menu-item--second
                                            a.header__menu-link--second(href='#') Длинная категория
                                li.header__menu-item--dropdown
                                    a.header__menu-link--second.header__menu-link--title(href='#') Длинная категория
                                    ul.header__menu--second
                                        li.header__menu-item--second
                                            a.header__menu-link--second(href='#') Очень длинная категория
                                        li.header__menu-item--second
                                            a.header__menu-link--second(href='#') Длинная категория
                                        li.header__menu-item--second
                                            a.header__menu-link--second(href='#') Длинная категория
                                        li.header__menu-item--second
                                            a.header__menu-link--second(href='#') Очень длинная категория
                                        li.header__menu-item--second
                                            a.header__menu-link--second(href='#') Длинная категория
                                        li.header__menu-item--second
                                            a.header__menu-link--second(href='#') Длинная категория
                                li.header__menu-item--dropdown
                                    a.header__menu-link--second.header__menu-link--title(href='#') Длинная категория
                                    ul.header__menu--second
                                        li.header__menu-item--second
                                            a.header__menu-link--second(href='#') Очень длинная категория
                                        li.header__menu-item--second
                                            a.header__menu-link--second(href='#') Длинная категория
                                        li.header__menu-item--second
                                            a.header__menu-link--second(href='#') Длинная категория
                                        li.header__menu-item--second
                                            a.header__menu-link--second(href='#') Очень длинная категория
                                        li.header__menu-item--second
                                            a.header__menu-link--second(href='#') Длинная категория
                                        li.header__menu-item--second
                                            a.header__menu-link--second(href='#') Длинная категория

                        li.header__menu-item
                            a.header__menu-link(href='#') Длинная категория
                            ul.header__menu--dropdown
                                li.header__menu-item--dropdown
                                    a.header__menu-link--second.header__menu-link--title(href='#') Длинная категория
                                    ul.header__menu--second
                                        li.header__menu-item--second
                                            a.header__menu-link--second(href='#') Очень длинная категория
                                        li.header__menu-item--second
                                            a.header__menu-link--second(href='#') Длинная категория
                                        li.header__menu-item--second
                                            a.header__menu-link--second(href='#') Длинная категория
                                        li.header__menu-item--second
                                            a.header__menu-link--second(href='#') Очень длинная категория
                                        li.header__menu-item--second
                                            a.header__menu-link--second(href='#') Длинная категория
                                        li.header__menu-item--second
                                            a.header__menu-link--second(href='#') Длинная категория
                                li.header__menu-item--dropdown
                                    a.header__menu-link--second.header__menu-link--title(href='#') Длинная категория
                                    ul.header__menu--second
                                        li.header__menu-item--second
                                            a.header__menu-link--second(href='#') Очень длинная категория
                                        li.header__menu-item--second
                                            a.header__menu-link--second(href='#') Длинная категория
                                        li.header__menu-item--second
                                            a.header__menu-link--second(href='#') Длинная категория
                                        li.header__menu-item--second
                                            a.header__menu-link--second(href='#') Очень длинная категория
                                        li.header__menu-item--second
                                            a.header__menu-link--second(href='#') Длинная категория
                                        li.header__menu-item--second
                                            a.header__menu-link--second(href='#') Длинная категория
                        li.header__menu-item: a.header__menu-link(href='#') Категория
                        li.header__menu-item: a.header__menu-link(href='#') Очень длинная категория
                        li.header__menu-item: a.header__menu-link(href='#') Категория
                        li.header__menu-item: a.header__menu-link(href='#') Длинная категория
                        li.header__menu-item: a.header__menu-link(href='#') Категория
                        li.header__menu-item: a.header__menu-link(href='#') Очень длинная категория
                        li.header__menu-item: a.header__menu-link(href='#') Категория
                        li.header__menu-item: a.header__menu-link(href='#') Длинная категория
                        li.header__menu-item: a.header__menu-link(href='#') Категория
                        li.header__menu-item: a.header__menu-link(href='#') Очень длинная категория
                .header__search
                    .header__search-inner
                        input.header__search-input(type='text' placeholder='Поиск по каталогу')
                        button.header__search-btn(type='button') Искать

    .g-overlay
    #darkness.darkness
