.article {
    width: 25%;
    margin-bottom: 25px;
    &__layout {
        width: 271px;
        margin: 0 auto;
        display: block;
    }
    &__img {
        margin-bottom: 15px;
        img {
            width: 271px;
            height: 181px;
        }
    }
    &__data {
        margin-bottom: 15px;
        span {
            color: #808080;
            font-size: 18px;
            display: block;
            font-weight: 400;
            text-align: left;  }
    }
    &__content {
        p {
            color: #444;
            font-size: 18px;
            font-weight: 700;
            margin: 0;
            transition: color 220ms;
            &:hover {
                color: $accent-color;
            }
        }
    }
}
