mixin article(data)
    .article
        a(href='#').article__layout
            .article__img
                img(src='static/img/content/' + data.img + '.png')
            .article__data
                span 28.05.2017
            .article__content
                p The title of the news in two long lines with reapeat words
