.cart-blocks {
    flex: 0 0 auto;
    width: 555px;
    margin-right: 30px;
}

.cart-page__inner {
    padding-bottom: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.cart-block {
    margin-bottom: 30px;
    &__title {
        height: 50px;
        background-color: #0084ff;
        color: #fff;
        font-weight: 500;
        font-size: 24px;
        padding: 0 25px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        line-height: 50px;
        text-align: left;
        margin: 0;
    }
    &__content {
        background-color: #fff;
        padding: 30px;
    }
    &__subtitle {
        color: #444;
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        width: 100%;
        display: block;
        margin: 0 0 20px 0;
    }
    &__field {
        margin: 0 0 15px 0;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        input {
            width: 100%;
            height: 40px;
            border: 1px solid #808080;
            padding: 0 20px;
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
        }
    }
    &__flex {
        display: flex;
        flex-wrap: wrap;
        &-half {

        }
    }
    &__left {
        margin-left: 30px;
        width: 292px;
    }
    &__number {
        width: 50px!important;
        height: 30px;
        border: 1px solid #808080;
        margin-left: 10px;
        text-align: center;
        color: #444;
        padding: 4px!important;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
    }
    &__label {
        color: #444;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 0;
    }
    input[type=radio] {
        display: none;
    }
    &__radio {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: block;
        border: 2px solid #808080;
        margin-right: 10px;
        position: relative;
    }
    input[type=radio]:checked + .cart-block__radio {
        border-color: $accent-color;
    }
    input[type=radio]:checked + .cart-block__radio:after {
        content: '';
        display: block;
        @include center;
        width: 8px;
        height: 8px;
        background-color: #ff9600;
        border-radius: 50%;
    }
}


.cart-tabs {
    &__title {
        padding: 0 20px;
        display: flex;
        align-items: center;
        line-height: 40px;
        text-align: center;
        justify-content: center;
        color: #444;
        font-size: 18px;
        border: 1px solid #444;
        height: 40px;
        cursor: pointer;
        transition: color 220ms, border-color 220ms, background-color 220ms;
        &:first-child {
            margin-right: 15px;
        }
        &.cart-tabs__title--active {
            background-color: $accent-color;
            border-color: $accent-color;
            color: #fff;
        }
    }
    &__wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 25px;
    }
}

.login-block {
    &__label {
        color: #444;
        font-size: 18px;
        padding-left: 20px;
        font-weight: 400;
        line-height: 24px;
    }
    &__field {
        width: 360px;
        margin: 0 auto 20px;
    }
    &__input {
        width: 360px;
        height: 40px;
        background-color: #fff;
        border: 1px solid #444;
        font-size: 18px;
        line-height: 24px;
        padding: 0 20px;
    }
    &__line {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__btn-submit {
        width: 165px;
        height: 40px;
        background-color: #ff9600;
        color: #fff;
        font-size: 18px;
        outline: none;
        transition: color 220ms, background-color 220ms;
        border: none;
        font-weight: 500;
        line-height: 24px;
        &:hover,&:focus {
            background-color: #444;
            color: #fff;
        }
        &--long {
            width: 100%;
        }
    }
    &__reg-link {
        color: $accent-color;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-decoration: underline;
        &:hover {
            color: $accent-color;
            text-decoration: none;
        }
    }
}

.cart-content {
    width: 100%;
    flex: 1 1 auto;
    &__inner {
        padding: 30px;
        background-color: #fff;
    }
    .product-content__line {
        justify-content: flex-end;
        margin-bottom: 20px;
    }
}

#cart-submit {
    @extend .standard-button;
    margin: 25px auto 0;
    width: 290px;
    height: 50px;
}

.promotional {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 355px;
    }
    &__text {
        color: #444;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin: 0 0 10px 0;
        display: block;
    }
    &__input {
        width: 100%;
        height: 40px;
        background-color: #fff;
        border: 1px solid #808080;
        color: #444;
        padding: 0 20px;
        flex: 1 1 auto;
    }
    &__btn {
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        display: block;
        width: 60px;
        height: 40px;
        background-color: #444;
        outline: none;
        border: none;
        text-transform: uppercase;
        transition: background-color 220ms;
        flex: 0 0 auto;
        &:hover,&:focus {
            background-color: $accent-color;
        }
    }
}


