mixin cart-page
    +breadcrumbs
    .cart-page
        .container
            form#cart-page
                .cart-page__inner
                    .cart-blocks
                        .cart-block
                            h2.cart-block__title 1. Контактные данные
                            .cart-block__content
                                +cart-tabs-block
                        .cart-block
                            h2.cart-block__title 2. Выбор способа доставки и оплаты
                            .cart-block__content
                                .cart-block__flex
                                    .cart-block__flex-half
                                        h4.cart-block__subtitle Доставка
                                        .cart-block__field
                                            label.cart-block__label
                                                input(type='radio' name='delivery' checked)
                                                span.cart-block__radio
                                                | Новой почтой
                                            input.cart-block__number(type='text' placeholder='№')
                                        .cart-block__field
                                            label.cart-block__label
                                                input(type='radio' name='delivery')
                                                span.cart-block__radio
                                                | Самовывоз
                                        .cart-block__field
                                            label.cart-block__label
                                                input(type='radio' name='delivery')
                                                span.cart-block__radio
                                                | Транспортом компании
                                    .cart-block__flex-half
                                        h4.cart-block__subtitle Оплата
                                        .cart-block__field
                                            label.cart-block__label
                                                input(type='radio' name='pay' checked)
                                                span.cart-block__radio
                                                | Наличными
                                        .cart-block__field
                                            label.cart-block__label
                                                input(type='radio' name='pay')
                                                span.cart-block__radio
                                                | Visa/MasterCard
                                    h4.cart-block__subtitle Адрес получателя
                                    .cart-block__left
                                        .cart-block__field
                                            input(type='text' placeholder='Улица')
                                        .cart-block__field
                                            input(type='text' placeholder='Дом')
                                        .cart-block__field
                                            input(type='text' placeholder='Квартира')
                    .cart-content
                        .cart-content__inner
                            +item-cart-list
                            .product-content__line
                                span.product-content__total Итого:
                                span.product-content__total-cost 1 000 грн
                            .promotional
                                span.promotional__text Есть промокод? Введите номер и получите скидку!
                                .promotional__inner
                                    input.promotional__input(type='text' placeholder='Введите промокод')
                                    button.promotional__btn(type='button') Ok

                        input(type='submit' value='Оформить заказ').product__buy#cart-submit
