.one-click {
    width: 405px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    &__input {
        width: 194px;
        border: 1px solid #444;
        height: 40px;
        color: #444;
        font-size: 16px;
        font-weight: 400;
        padding: 0 20px;
        @include placeholder {
            color: #bfbfbf;
            transition: color 220ms;
        }
        @include placeholder-focus {
            color: transparent;
        }
    }
    &__button {
        height: 40px;
        width: 211px;
        background-color: #444;
        color: #fff;
        font-size: 24px;
        font-weight: 700;
        outline: none;
        border: none;
        transition: background-color 220ms;
        &:hover {
            background-color: $accent-color;
        }
    }
    label.error {
        position: absolute;
        bottom: -15px;
        width: 100%;
        margin: 0;
        font-size: 12px;
        color: #da3232;
        text-align: left;
    }
    input.error {
        border-color: #da3232;
    }
}
