mixin one-click(data)
    form(id='one-click-' + data.id).one-click
        input.one-click__input(type="text" placeholder="+38 0XX XXX XX XX" name="phone")
        input.one-click__button(type="submit" value=data.name)
